@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("../../fonts/Montserrat/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

body {
  background-color: #e5e5e5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background: #282827;
}

input[type="checkbox"] {
  background-color: #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"] {
  background-color: #e5e5e5;
  border: none;
  padding: 5px;
  font-family: Montserrat;
  font-style: italic;
  font-size: 12px;
  color: #282827;
  border-radius: 1px;
  height: 27px;
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="email"]:focus {
  outline-color: #c2b930;
  border: none;
}

.conceptos-white-select {
  background-color: #ffffff;
}

textarea {
  height: 100px;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
}

.checkmark-gray {
  background-color: #e5e5e5;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #282827;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* -------------------------------------------------------- */

.navbar .navbar-toggler {
  top: 24px !important;
}

#cartPreviewModal .modal-body {
  padding: 0;
}

#filterProductsModal input {
  width: 60px;
}

/* -------------------------------------------------------- */

.conceptos-navbar {
  background-color: #282827 !important;
  min-height: 65px !important;
}

.conceptos-navbar #navbarSupportedContent {
  position: absolute;
  background-color: #282827;
  right: 0px;
  top: 77px;
}

.conceptos-navbar-dropdown {
  margin-left: 15px !important;
  margin-right: 15px !important;
  margin-bottom: 20px !important;
}

.conceptos-navbar-dropdown li {
  text-align: left;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 8px;
}

.conceptos-navbar-item {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
}

.conceptos-navbar-item:focus,
.conceptos-navbar-item:hover {
  color: #c2b930;
}

.conceptos-navbar-divider {
  border-top: 1px solid #c2b930;
}

.conceptos-navbar-username {
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 10px;
  color: #ffffff;
}

#conceptos-navbar-links {
  position: absolute;
  right: 140px;
}

/* -------------------------------------------------------- */

#open-categories-menu {
  position: fixed;
  top: 75%;
  z-index: 50;
  border-top: 1px solid #282827;
  border-bottom: 1px solid #282827;
  border-right: 1px solid #282827;
  border-left: none;
  background-color: #c2b930;
  width: 45px;
  outline: none;
}

#open-categories-menu img {
  width: 8px;
  height: 10px;
}

#close-categories-menu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

#categories-menu {
  position: fixed;
  background-color: #e5e5e5;
  bottom: 0;
  left: -100%;
  right: 100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.categories-menu-open {
  right: 20% !important;
  left: 0% !important;
}

.categories-menu-closed {
  right: 100% !important;
  left: -100% !important;
}

#categories-menu .conceptos-category-header > div {
  border-bottom: 2px solid #c2b930;
}

#categories-menu .conceptos-category-header.collapsed > div {
  border-bottom: none;
}

/* -------------------------------------------------------- */

.conceptos-contact-input {
  background-color: #ffffff !important;
}

.conceptos-error-input {
  border: 1px solid #bf1111 !important;
  outline-color: #bf1111 !important;
}

.conceptos-success-input {
  border: 1px solid #2c702b !important;
  outline-color: #2c702b !important;
}

.conceptos-add-scroll {
  overflow-y: auto;
}

.conceptos-badge {
  background-color: #282827;
  z-index: 10;
}

#conceptos-services-badge {
  position: sticky;
  z-index: 15;
}

.conceptos-badge-text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #e5e5e5;
}

.conceptos-badge-text-strong {
  font-family: Montserrat-ExtraBold;
  font-weight: bold;
  font-size: 14px;
  color: #c2b930;
}

.conceptos-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #282827;
  text-transform: uppercase;
}

a.conceptos-title:hover,
a.conceptos-title:focus {
  color: #c2b930;
  outline: none;
}

a.conceptos-title i,
a.conceptos-title i {
  outline: none;
  transform: rotate(180deg);
}

a.conceptos-title.collapsed i {
  font-size: 18px;
  transition: all 300ms linear;
  transform: rotate(0);
}

a.conceptos-title:hover i,
a.conceptos-title:focus i {
  color: #c2b930;
  outline: none;
}

.conceptos-title-strong {
  font-family: Montserrat-ExtraBold !important;
  font-weight: bolder;
  font-size: 14px;
  color: #282827;
  text-transform: uppercase;
}

a.conceptos-title-strong:hover,
a.conceptos-title-strong:focus {
  color: #c2b930;
  outline: none;
}

.conceptos-title-italic {
  font-style: italic;
  text-decoration: underline;
  text-transform: none;
}

.conceptos-subtitle {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  color: #282827;
}

.conceptos-blog-info {
  font-family: Montserrat;
  font-size: 12px;
  color: #777777;
  text-transform: uppercase;
}

.conceptos-blog-info-active {
  color: #c2b930;
}

a.conceptos-blog-info:hover,
a.conceptos-blog-info:focus {
  color: #c2b930;
  outline: none;
}

.conceptos-text-align-center {
  text-align: center;
}

a.conceptos-subtitle:hover,
a.conceptos-subtitle:focus {
  color: #c2b930;
  outline: none;
}

.conceptos-subtitle-strong {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #282827;
}

.conceptos-testimony-text {
  font-family: Montserrat;
  font-size: 12px;
  color: #282827;
  font-style: italic;
}

.conceptos-testimony-author {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #282827;
}

.conceptos-badge-subtitle {
  font-family: Montserrat;
  font-size: 10px;
  color: #ffffff;
}

.conceptos-relative {
  position: relative;
}

.conceptos-gray-background {
  background-color: #e5e5e5;
}

.conceptos-white-background {
  background-color: #ffffff;
}

.conceptos-product-info {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #282827;
}

.conceptos-product-price {
  font-size: 14px;
}

.conceptos-product-price-big {
  font-size: 20px !important;
}

.conceptos-offer-product-badge {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
  color: #c2b930;
}

.conceptos-in-store-product-badge {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
  color: #2c702b;
}

.conceptos-new-product-badge {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
  color: #bf1111;
}

.conceptos-product-info-description {
  font-family: Montserrat;
  font-size: 12px;
  color: #282827;
  line-height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 30px;
}

.conceptos-product-info-admin {
  font-family: Montserrat;
  font-size: 11px;
  color: #282827;
  line-height: 15px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.conceptos-blog-summary {
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.conceptos-icon {
  width: 23px;
  height: 23px;
}

.conceptos-icon-big {
  width: 35px;
  height: 35px;
}

.conceptos-request-success-icon {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 18px;
  width: 18px;
}

.conceptos-category-divider-icon {
  width: 10px;
  height: 10px;
}

.conceptos-category-title {
  font-family: Montserrat-ExtraBold !important;
  font-size: 12px;
  color: #282827;
  text-transform: uppercase;
}

a.conceptos-category-title:hover,
a.conceptos-category-title:focus {
  color: #c2b930;
  outline: none;
}

.conceptos-category-subtitle {
  font-family: Montserrat-SemiBold;
  font-size: 12px;
  line-height: 15px;
  color: #282827;
}

a.conceptos-category-subtitle:hover,
a.conceptos-category-subtitle:focus {
  color: #c2b930;
  outline: none;
}

.close-categories-menu-icon {
  position: fixed;
  top: 100px;
  right: 2%;
  width: 40px;
  height: 40px;
}

.conceptos-request-error-icon {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 18px;
  width: 18px;
}

.conceptos-request-loading-icon {
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 18px;
  width: 18px;
}

.conceptos-add-to-cart-icon {
  border: none;
  background: none;
  outline: none !important;
  cursor: pointer;
}

.conceptos-add-to-cart-icon img {
  width: 30px;
  height: 23px;
}

.conceptos-add-to-cart-icon-big img {
  width: 40px;
  height: 33px;
}

.conceptos-navbar-icon {
  position: absolute;
  top: 19px;
  right: 50px;
  border: none;
  background: none;
  outline: none !important;
}

.conceptos-navbar-icon > div {
  position: relative;
  left: 10px;
}

.conceptos-navbar-icon img {
  width: 35px !important;
  height: 25px !important;
  margin-right: -6px;
}

.conceptos-navbar-icon span {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}

.conceptos-user-icon {
  right: 115px !important;
}

.conceptos-user-icon img {
  width: 35px !important;
  height: 30px !important;
}

#conceptos-shop-cart-count {
  position: relative;
  right: 12px;
  top: 5px;
  color: #282827;
  background-color: #c2b930;
  border-radius: 50%;
  min-width: 18px;
}

.conceptos-social-network-icon-facebook {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url("../../images/home/facebook.png");
  background-size: cover;
}

.conceptos-social-network-icon-facebook:focus,
.conceptos-social-network-icon-facebook:hover {
  background-image: url("../../images/home/facebook-active.png");
  outline: none;
}

.conceptos-social-network-icon-instagram {
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url("../../images/home/instagram.png");
  background-size: cover;
}

.conceptos-social-network-icon-instagram:focus,
.conceptos-social-network-icon-instagram:hover {
  background-image: url("../../images/home/instagram-active.png");
  outline: none;
}

.conceptos-go-to-cart {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 15px;
  color: #c2b930;
  border: 1px solid #c2b930;
  text-transform: uppercase;
}

.conceptos-go-to-cart:focus,
.conceptos-go-to-cart:hover {
  outline: none;
  color: #c2b930;
  border: 1px solid #c2b930;
}

.conceptos-remove-all-icon {
  border: none;
  width: 37px;
  height: 35px;
  background-color: transparent;
  background-image: url("../../images/home/remove-all-icon.png");
  background-size: cover;
}

.conceptos-remove-all-icon:focus,
.conceptos-remove-all-icon:hover {
  background-image: url("../../images/home/remove-all-icon-active.png");
  outline: none;
}

.conceptos-image {
  width: 100%;
}

.conceptos-popular-product-image {
  object-fit: cover;
  height: 80%;
}

.conceptos-in-store-image {
  max-height: 300px;
  object-fit: cover;
}

.conceptos-blog-image {
  max-height: 300px;
  object-fit: cover;
}

.conceptos-project-image {
  max-height: 500px;
  object-fit: cover;
  width: 100%;
}

.conceptos-section-image {
  max-height: 300px;
  object-fit: cover;
}

.conceptos-product-image {
  object-fit: scale-down;
  height: 25vh;
}

.conceptos-product-summary-image {
  max-height: 100px;
  max-width: 100px;
  object-fit: cover;
}

.conceptos-comment-image {
  max-height: 50px;
  max-width: 50px;
  object-fit: cover;
}

.conceptos-login-button {
  background-color: transparent;
  border: 2px solid #282827;
  border-radius: 0 !important;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #282827;
  outline: none;
  min-width: 100px;
}

.conceptos-login-button:focus,
.conceptos-login-button:hover {
  background-color: transparent;
  outline: none;
  color: #282827;
}

.conceptos-primary-button {
  background-color: transparent;
  border: 2px solid #c2b930;
  border-radius: 0 !important;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #282827;
  outline: none;
  min-width: 100px;
}

.conceptos-primary-button:focus,
.conceptos-primary-button:hover {
  background-color: #c2b930;
  outline: none;
  color: #282827;
}

.conceptos-primary-button[disabled="disabled"] {
  border: 1px solid #282827;
}

.conceptos-primary-button[disabled="disabled"]:focus,
.conceptos-primary-button[disabled="disabled"]:hover {
  background-color: transparent;
  outline: none;
}

.conceptos-primary-button-gray {
  background-color: transparent;
  border: 1px solid #282827;
  border-radius: 0 !important;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #282827;
  outline: none;
}

.conceptos-primary-button-gray:focus,
.conceptos-primary-button-gray:hover {
  background-color: #ffffff;
  color: #282827;
  outline: none;
}

.conceptos-primary-button-badge {
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 0 !important;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  outline: none;
}

.conceptos-primary-button-badge-focused,
.conceptos-primary-button-badge:focus,
.conceptos-primary-button-badge:hover {
  background-color: #c2b930;
  border-color: #c2b930;
  color: #282827;
  outline: none;
}

.conceptos-divider {
  background-color: #c2b930;
  height: 2px;
}

.conceptos-divider-vertical {
  background-color: #c2b930;
  width: 2px;
  height: 300px;
}

.conceptos-gift-card-section {
  background-color: #c2b930;
}

.conceptos-gift-card-section > div {
  border: 2px solid #282827;
}

.conceptos-gift-card-section img {
  width: 10px;
  height: 12px;
}

.conceptos-gift-card-section span {
  text-align: initial;
}

#giftCardsModal .modal-dialog {
  min-width: 625px;
}

/* -------------------------------------------------------- */

.home-view-more-link {
  color: #282827;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
}

.home-view-more-link:focus,
.home-view-more-link:hover {
  color: #c2b930;
}

.home-view-more-link img {
  width: 8px;
  height: 10px;
}

/* -------------------------------------------------------- */

#conceptos-contact-form form {
  z-index: 1;
}

/* -------------------------------------------------------- */

.shop-cart-section {
  background-color: #ffffff;
}

.shop-cart-product-list-section {
  background-color: #ffffff;
  max-height: 60vh;
}

.shop-cart-product-list-section .conceptos-badge {
  position: sticky;
  bottom: 0;
}

.shop-cart-product {
  background-color: #e5e5e5;
}

.airplane-delivery {
  border: none;
  width: 25px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../images/cart/airplane.png");
  background-size: cover;
}

.airplane-delivery:focus,
.airplane-delivery:hover,
.airplane-delivery-focused {
  background-image: url("../../images/cart/airplane-active.png");
  outline: none;
}

.airplane-delivery[disabled="disabled"] {
  background-image: url("../../images/cart/airplane-disabled.png");
}

.ship-delivery {
  border: none;
  width: 25px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../images/cart/ship.png");
  background-size: cover;
}

.ship-delivery:focus,
.ship-delivery:hover,
.ship-delivery-focused {
  background-image: url("../../images/cart/ship-active.png");
  outline: none;
}

.ship-delivery[disabled="disabled"] {
  background-image: url("../../images/cart/ship-disabled.png");
}

.cart-quantity-up {
  border: none;
  width: 25px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../images/cart/plus.png");
  background-size: cover;
}

.cart-quantity-up:focus,
.cart-quantity-up:hover {
  background-image: url("../../images/cart/plus-active.png");
  outline: none;
}

.cart-quantity-down {
  border: none;
  width: 25px;
  height: 24px;
  background-color: transparent;
  background-image: url("../../images/cart/minus.png");
  background-size: cover;
}

.cart-quantity-down:focus,
.cart-quantity-down:hover {
  background-image: url("../../images/cart/minus-active.png");
  outline: none;
}

.shop-cart-trash {
  border: none;
  width: 15px;
  height: 20px;
  background-color: transparent;
  background-image: url("../../images/cart/trash-icon.png");
  background-size: cover;
}

.shop-cart-trash:focus,
.shop-cart-trash:hover {
  background-image: url("../../images/cart/trash-icon-active.png");
  outline: none;
}

#shop-cart-contact-form {
  background: #e5e5e5;
  position: relative;
}

#shop-cart-contact-form .conceptos-image {
  position: absolute;
  top: 30vh;
  height: 75vh;
  object-fit: cover;
}

#shop-cart-contact-form:after {
  content: "";
  position: absolute;
  height: 48%;
  width: 100%;
  background: linear-gradient(to top, transparent, #e5e5e5);
  top: 30vh;
}

#shop-cart-buy-section {
  z-index: 10;
}

.cart-quantity-input {
  background-color: #ffffff !important;
  border: 1px solid #c2b930 !important;
  width: 40px;
  font-style: normal !important;
}

#dropzone-profile-image {
  position: relative;
  min-height: 100px;
  min-width: 100px;
  width: 100px;
  height: 100px;
}

.edit-profile-button {
  border: none;
  width: 20px;
  height: 20px;
  background-color: transparent;
  background-image: url("../../images/home/edit-profile.png");
  background-size: cover;
}

.edit-profile-button:focus,
.edit-profile-button:hover {
  outline: none;
}

.conceptos-product-badges {
  height: 30px;
}

.view-profile-product-details {
  border: none;
  width: 22px;
  height: 40px;
  background-color: transparent;
  background-image: url("../../images/home/view-profile-product-details.png");
  background-size: cover;
}

.view-profile-product-details:focus,
.view-profile-product-details:hover {
  outline: none;
}

#edit-profile .dz-preview {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 112px;
  height: 112px;
}

#edit-profile .dz-preview .dz-image {
  width: 112px;
  height: 112px;
}

#edit-profile .dz-preview .dz-image > div {
  width: 112px;
  height: 112px;
  margin: 0;
}

#edit-profile .dz-preview .dz-image > div > div {
  padding: 0;
}

#edit-profile .dz-preview .dz-remove {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 0;
  left: 20%;
  z-index: 100;
  padding-left: 10px;
  padding-right: 10px;
}

.invalid-credentials {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
  color: #bf1111;
  text-transform: uppercase;
}

/* -------------------------------------------------------- */

.conceptos-contact-section {
  bottom: 0;
  right: 0;
}

.conceptos-contact-text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 10px;
  color: #282827;
}

#cartPreviewModal .product-delivery {
  display: none !important;
}

.favorite-icon-big {
  font-size: 30px;
}

.favorite-product {
  position: absolute;
  top: 0;
  right: 5px;
  font-size: 20px;
  color: #b3aeae !important;
  z-index: 10;
}

.favorite-product:hover {
  color: #c2b930 !important;
}

.favorite-product.favorite {
  color: #c2b930 !important;
}

.conceptos-product-card > div {
  position: relative;
}

.change-product-evaluation {
  font-size: 30px;
  color: #b3aeae !important;
  cursor: pointer;
}

.change-product-evaluation.favorite {
  color: #c2b930 !important;
}

#successShopRequestModal .modal-body {
  height: 300px;
}

@media (min-width: 992px) {
  .carousel-indicators li {
    height: 13px;
    width: 14px;
  }

  .conceptos-title-strong {
    font-size: 20px;
  }

  .conceptos-subtitle-strong {
    font-size: 17px;
  }

  .conceptos-title {
    font-size: 20px;
  }

  .conceptos-subtitle {
    font-size: 16px;
  }

  .conceptos-badge-text {
    font-size: 20px;
  }

  .conceptos-badge-subtitle {
    font-size: 14px;
  }

  .conceptos-product-info {
    font-size: 15px;
  }

  .conceptos-product-info-description {
    font-size: 15px;
  }

  .conceptos-offer-product-badge {
    font-size: 15px;
  }

  .conceptos-in-store-product-badge {
    font-size: 15px;
  }

  .conceptos-new-product-badge {
    font-family: Montserrat;
    font-size: 15px;
  }

  .conceptos-testimony-text {
    font-size: 18px;
  }

  .conceptos-testimony-author {
    font-size: 16px;
  }

  .conceptos-primary-button-gray {
    font-size: 18px;
  }

  .conceptos-in-store-image {
    width: 300px;
    height: 300px;
  }

  .categories-menu-open {
    right: 80% !important;
    left: 0% !important;
  }

  .conceptos-add-to-cart-icon img {
    width: 40px;
    height: 33px;
  }

  .conceptos-product-price {
    font-size: 20px;
  }

  .conceptos-product-summary-image {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
  }

  .conceptos-project-image {
    width: 500px;
    height: 500px;
    object-fit: cover;
  }

  .shop-cart-product-list-section {
    max-height: 70vh;
  }

  .favorite-product {
    font-size: 30px;
  }

  #successShopRequestModal .modal-dialog {
    width: 500px;
  }

  #successShopRequestModal .modal-body {
    height: 400px;
  }
}
