@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat/Montserrat-Regular.ttf");
}

body {
  background-color: #e5e5e5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e5e5e5;
}

::-webkit-scrollbar-thumb {
  background: #282827;
}

input[type="checkbox"] {
  background-color: #ffffff;
}

select,
textarea,
input[type="text"],
input[type="email"] {
  background-color: #e5e5e5;
  border: none;
  padding: 5px;
  font-family: Montserrat;
  font-style: italic;
  font-size: 12px;
  color: #282827;
  border-radius: 1px;
}

select,
textarea,
input[type="text"]:focus,
input[type="email"]:focus {
  outline-color: #c2b930;
  border: none;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #ffffff;
}

.checkmark-gray {
  background-color: #e5e5e5;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #282827;
}

.checkmark:after {
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 3px 0 3px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* -------------------------------------------------------- */

.navbar .navbar-toggler {
  top: 27px !important;
}

#cartPreviewModal .modal-body {
  padding: 0;
}

/* -------------------------------------------------------- */

.conceptos-navbar {
  background-color: #282827 !important;
}

.conceptos-navbar #navbarSupportedContent {
  position: absolute;
  background-color: #282827;
  right: 0px;
}

.conceptos-navbar-dropdown {
  margin-left: 15px !important;
  margin-right: 15px !important;
  margin-bottom: 20px !important;
}

.conceptos-navbar-dropdown li {
  text-align: left;
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 8px;
}

.conceptos-navbar-item {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;
}

.conceptos-navbar-divider {
  border-top: 1px solid #c2b930;
}

.conceptos-navbar-username {
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 10px;
  color: #ffffff;
}

/* -------------------------------------------------------- */

#openCategoriesMenu {
  position: fixed;
  top: 50%;
  z-index: 50;
}

#openCategoriesMenu {
  border: none;
  background-color: #ffffff;
  width: 45px;
  outline: none;
}

#closeCategoriesMenu {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

#categoriesMenu {
  position: fixed;
  background-color: #e5e5e5;
  bottom: 0;
  left: -100%;
  right: 100%;
  z-index: 100;
  transition: all 0.3s ease-in-out;
}

#categoriesMenu .dropdown-item {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #282827;
}

/* -------------------------------------------------------- */

.conceptos-contact-input {
  background-color: #ffffff !important;
}

.conceptos-error-input {
  border: 1px solid #bf1111 !important;
}

.conceptos-success-input {
  border: 1px solid #2c702b !important;
}

.conceptos-add-scroll {
  overflow-y: auto;
}

.conceptos-badge {
  background-color: #282827;
}

.conceptos-badge-text {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #e5e5e5;
}

.conceptos-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #282827;
}

.conceptos-subtitle {
  font-family: Montserrat;
  font-size: 12px;
  line-height: 20px;
  color: #282827;
}

.conceptos-subtitle-2 {
  font-family: Montserrat;
  font-size: 10px;
  color: #282827;
}

.conceptos-badge-subtitle {
  font-family: Montserrat;
  font-size: 10px;
  color: #ffffff;
}

.conceptos-white-background {
  background-color: #ffffff;
}

.conceptos-product-info-section {
  background-color: #ffffff;
}

.conceptos-product-info {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #282827;
}

.conceptos-in-store-product-badge {
  font-family: Montserrat;
  font-size: 11px;
  color: #2c702b;
}

.conceptos-new-product-badge {
  font-family: Montserrat;
  font-size: 11px;
  color: #bf1111;
}

.conceptos-product-info-description {
  font-family: Montserrat;
  font-size: 12px;
  color: #282827;
  line-height: 15px;
  height: 32px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.conceptos-icon {
  width: 23px;
  height: 23px;
}

.conceptos-add-to-cart-icon {
  border: none;
  background: none;
  outline: none !important;
}

.conceptos-add-to-cart-icon img {
  width: 30px;
  height: 23px;
}

.conceptos-shop-cart-icon {
  position: absolute;
  top: 24px;
  right: 50px;
  border: none;
  background: none;
  outline: none !important;
}

.conceptos-shop-cart-icon > div {
  position: relative;
  left: 10px;
}

.conceptos-shop-cart-icon img {
  width: 35px !important;
  height: 25px !important;
  margin-right: -6px;
}

.conceptos-shop-cart-icon span {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 12px;
  color: #ffffff;
}

#conceptos-shop-cart-count {
  position: relative;
  right: 12px;
  top: 5px;
  color: #282827;
  background-color: #c2b930;
  border-radius: 50%;
  padding-left: 5px;
  padding-right: 5px;
}

.conceptos-social-network-icon {
  width: 35px;
  height: 35px;
}

.conceptos-go-to-cart-icon {
  width: 45px;
  height: 45px;
}

.conceptos-image {
  width: 100%;
}

.conceptos-primary-button {
  background-color: transparent;
  border: 2px solid #c2b930;
  border-radius: 0 !important;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #282827;
  outline: none;
}

.conceptos-primary-button-gray {
  background-color: transparent;
  border: 1px solid #282827;
  border-radius: 0 !important;
  font-family: Montserrat;
  font-weight: bold;
  font-size: 14px;
  color: #282827;
  outline: none;
}

.conceptos-divider {
  background-color: #c2b930;
  height: 2px;
}

/* -------------------------------------------------------- */

#home-header img {
  position: absolute;
}

.home-view-more-link {
  color: #282827;
  font-family: Montserrat;
  font-size: 12px;
  font-style: italic;
}

/* -------------------------------------------------------- */

#conceptos-contact-form .conceptos-image {
  position: absolute;
  top: 55vh;
}

#conceptos-contact-form form {
  z-index: 10;
}

/* -------------------------------------------------------- */

.shop-cart-section {
  background-color: #ffffff;
}

.shop-cart-product-list-section {
  background-color: #ffffff;
  max-height: 60vh;
}

.shop-cart-product-list-section .conceptos-badge {
  position: sticky;
  bottom: 0;
}

.shop-cart-product {
  background-color: #e5e5e5;
}

.shop-cart-trash {
  width: 15px;
  height: 20px;
}

#shop-cart-contact-form .conceptos-image {
  position: absolute;
}

#shop-cart-buy-section {
  z-index: 10;
}

/* -------------------------------------------------------- */

.membership-section {
  background-color: #ffffff;
}

/* -------------------------------------------------------- */
