.services_selector {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2em auto; }
  .services_selector select {
    width: 80%;
    border-radius: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: .75em; }
  .services_selector__button {
    position: absolute;
    right: 0;
    transform: translateX(-50%);
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background: #c2b930;
    display: flex;
    justify-content: center;
    align-items: center; }
  .services_selector__button__inner {
      position: absolute;
      width: 2.25em;
      height: 2.25em;
      border-radius: 50%;
      background: #282827; }
  .works__title {
  position: relative;
  width: 105%;
  left: -2.5%;
  padding: .75em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  background-color: #282827;
  color: white; }
  .works__title h2 {
    font-size: 1.2em; }
  .works__list {
  position: relative;
  max-height: 60vh;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .work {
  display: flex;
  padding: 1em;
  width: 98%;
  margin: .5em 1%;
  justify-content: space-between;
  align-items: center;
  background: white; }
  .work__image {
    width: 45%;
    height: 100%; }
  .work__text {
    display: flex;
    flex-wrap: wrap;
    width: 50%; }
  .work__text h4 {
      margin: 0; }
  .work__text p {
      margin: .5em 0; }
  .work__text .btn {
      position: relative;
      left: 100%;
      transform: translateX(-100%); }
