{% if comboProduct.count is not defined or comboProduct.count <= 1 %}
  {% set comboProductCount = 1 %}
{% else %}
{% set comboProductCount = comboProduct.count %}
{% endif %}
<div class="d-flex justify-content-center conceptos-product-card mt-2 w-100 {% if product.priceOffer != -1 %}popular_product popular_product_short{% endif %}">
  <div class="d-flex align-items-center conceptos-white-background w-100">
    <a class="h-100 w-100" href="{{ path('product_details', {id: product.id, name: product.name}) }}">
      <div class="d-flex flex-column justify-content-between h-100">
        <img class="conceptos-image conceptos-popular-product-image" src="{{ vich_uploader_asset(product.mainImage, 'imageFile') }}">
        <span class="conceptos-product-info align-self-center conceptos-product-info">{{comboProductCount}}x</span>
      </div>
    </a>
  </div>
</div>
