{% extends ':site:base.html.twig' %}
{% block title %}Productos favoritos{% endblock %}
{% block body %}
  <div class="d-flex flex-column p-2 pl-lg-5 pr-lg-5 pt-lg-3 pb-lg-3">
    <span class="conceptos-title-strong mt-2 mb-2">FAVORITOS</span>
    <div class="d-flex flex-wrap p-0">
      {% for product in products %}
        {% set preventHighlight = true %}
        {{include('site/components/product-summary.html.twig')}}
      {% else %}
        <span class="conceptos-title">Usted no ha seleccionado ningún producto favorito</span>
      {% endfor %}
    </div>
  </div>
{% endblock %}
{% block js %}
{% endblock %}
