{% extends ':site:base.html.twig' %}
{% block title %}Membresía{% endblock %}
{% block body %}
  <div class="d-flex flex-column conceptos-white-background m-2 m-lg-5 p-2">
    {{ render(controller('AppBundle:Site:requestMembership')) }}
  </div>
{% endblock %}
{% block js %}
<script>
  {% if showSuccessToast is defined %}
    $.toast({
      text: 'Membresía solicitada correctamente',
      showHideTransition: "fade",
      bgColor: "#c2b930",
      textColor: "#3f3c03",
      allowToastClose: true,
      hideAfter: 3000,
      stack: 5,
      textAlign: "center",
      position: "mid-center",
      icon: "success",
      heading: "Correcto"
    });
  {% endif %}
</script>
{% endblock %}
