.services{

    &__service{
        margin: 1em auto 0;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        &__image{
            border-radius: 50%;
            box-shadow: 2px 2px 10px rgba(black, .1);
            width: 13em;
            height: 13em;
            overflow: hidden;

            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        &__title{
            display: flex;
            justify-content: center;
            width: 50%;
            margin: 0 25%;
            text-align: center;

            & h2{
                font-size: 2em;
                margin: .5em;
                font-weight: 500;
            }
        }

        &__text{
            display: flex;
            justify-content: center;
            width: 80%;
            margin: auto 10%;

            & p{
                margin-top: 0;
                font-size: 1.25em;
                line-height: 1.5;
            }
        }
    }
}