.new_navbar {
  position: relative;
  top: 0;
  left: 0;
  background: #282827;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  z-index: 3;
  padding: .5em 1em; }
  .new_navbar__logo {
    width: 100%;
    margin-bottom: 1em; }
  .new_navbar__logo img {
      width: auto;
      height: 3em; }
  .new_navbar__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
            align-items: center;
    width: 100%; }
  .new_navbar__content__menu {
      position: relative;
      width: 2em;
      height: 80%;
      display: -webkit-box;
      display: flex;
      -webkit-box-align: center;
              align-items: center; }
  .new_navbar__content__menu:before, .new_navbar__content__menu:after {
        position: absolute;
        content: '';
        background: white;
        width: 100%;
        height: .2em; }
  .new_navbar__content__menu:before {
        top: 0; }
  .new_navbar__content__menu:after {
        bottom: 0; }
  .new_navbar__content__menu__middle {
        content: '';
        background: white;
        width: 100%;
        height: .25em; }
  .new_navbar__content__search {
      position: relative;
      width: 60%; }
  .new_navbar__content__search form {
        position: relative; }
  .new_navbar__content__search form input[type='text'] {
          border-radius: 5px;
          border: 1px solid white;
          background: white;
          padding: 0 .75em;
          height: 2em;
          font-size: 1em;
          width: 100%; }
  .new_navbar__content__search form button[type='submit'] {
          border: 1px transparent solid;
          background-color: transparent;
          width: 2.5em;
          height: 2.5em;
          position: absolute;
          z-index: 4;
          right: 0;
          -webkit-transform: scale(0.8);
                  transform: scale(0.8); }
  .new_navbar__content__search form button[type='submit']:before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 1.25em;
            height: 1.25em;
            border-radius: 50%;
            border: 2px #282827 solid; }
  .new_navbar__content__search form button[type='submit']:after {
            position: absolute;
            content: '';
            width: 1em;
            height: 1px;
            border: 1px #282827 solid;
            background: #282827;
            -webkit-transform: rotate(48deg) translateX(-50%);
                    transform: rotate(48deg) translateX(-50%);
            bottom: 25%; }
  .new_navbar__content__user, .new_navbar__content__cart {
      display: -webkit-box;
      display: flex;
      -webkit-box-pack: justify;
              justify-content: space-between; }
  .new_navbar__content__user img, .new_navbar__content__cart img {
        width: 2.25em;
        height: auto; }
  .new_navbar__content__cart {
      position: relative; }
  .new_navbar__content__cart span {
        display: -webkit-box;
        display: flex;
        -webkit-box-pack: center;
                justify-content: center;
        -webkit-box-align: center;
                align-items: center;
        position: absolute;
        z-index: 1;
        width: 1.1em;
        height: 1.1em;
        padding: .25em;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        color: #282827;
        background-color: #c2b930; }
  .lateral_menu {
  position: absolute;
  background: #282827;
  width: 85%;
  top: 7em;
  left: 0;
  overflow: hidden;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }
  .lateral_menu--visible {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  .lateral_menu__close {
    position: absolute;
    border-radius: 50%;
    border: 2px transparent solid;
    width: 2em;
    height: 2em;
    top: .5em;
    right: .5em;
    background: transparent;
    z-index: 3; }
  .lateral_menu__close:before, .lateral_menu__close:after {
      top: 50%;
      left: 50%;
      position: absolute;
      background: white;
      content: '';
      width: 1.25em;
      height: 3px; }
  .lateral_menu__close:before {
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg); }
  .lateral_menu__close:after {
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg); }
  .lateral_menu__content {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
    transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out; }
  .lateral_menu__content--level_1 {
      -webkit-transform: translateX(-105%);
              transform: translateX(-105%); }
  .lateral_menu__content--level_2 {
      -webkit-transform: translateX(-210%);
              transform: translateX(-210%); }
  .lateral_menu__content ul, .lateral_menu__content ul.sub {
      margin: 0;
      padding: 1em;
      width: 100%;
      height: 80vh; }
  .lateral_menu__content ul li, .lateral_menu__content ul.sub li {
        list-style: none;
        margin: .5em .25em; }
  .lateral_menu__content ul li a, .lateral_menu__content ul.sub li a {
          color: white;
          font-weight: 500;
          font-size: 1.05em;
          text-transform: uppercase; }
  .lateral_menu__content ul li img, .lateral_menu__content ul.sub li img {
          width: 1.25em;
          max-height: 1.25em;
          margin-right: 1em;
          -webkit-filter: invert(1);
                  filter: invert(1);
          -o-object-fit: cover;
             object-fit: cover; }
  .lateral_menu__content ul li img.no-invert, .lateral_menu__content ul.sub li img.no-invert {
            -webkit-filter: invert(0);
                    filter: invert(0); }
  .lateral_menu__content ul ul.sub, .lateral_menu__content ul.sub ul.sub {
        position: absolute;
        -webkit-transform: translateX(100%);
                transform: translateX(100%);
        top: 0; }
  .lateral_menu__content ul ul.sub li:first-child, .lateral_menu__content ul.sub ul.sub li:first-child {
          position: relative;
          width: 70%; }
  .lateral_menu__content ul ul.sub li:first-child:before, .lateral_menu__content ul ul.sub li:first-child:after, .lateral_menu__content ul.sub ul.sub li:first-child:before, .lateral_menu__content ul.sub ul.sub li:first-child:after {
            position: absolute;
            content: '';
            background: white;
            right: 1em;
            width: 1em;
            height: .25em; }
  .lateral_menu__content ul ul.sub li:first-child:before, .lateral_menu__content ul.sub ul.sub li:first-child:before {
            top: 32%;
            -webkit-transform: rotate(-45deg);
                    transform: rotate(-45deg); }
  .lateral_menu__content ul ul.sub li:first-child:after, .lateral_menu__content ul.sub ul.sub li:first-child:after {
            top: 68%;
            -webkit-transform: rotate(45deg);
                    transform: rotate(45deg); }
  .lateral_menu__content ul ul.sub li:nth-child(2), .lateral_menu__content ul.sub ul.sub li:nth-child(2) {
          width: 70%; }
  .lateral_menu__content ul ul.sub ul.sub, .lateral_menu__content ul.sub ul.sub ul.sub {
          opacity: 0;
          position: absolute;
          overflow-y: auto; }
  .lateral_menu__content ul ul.sub ul.sub.show, .lateral_menu__content ul.sub ul.sub ul.sub.show {
            opacity: 1;
            z-index: 2; }
