.works{

    &__title{
        position: relative;
        width: 105%;
        left: -2.5%;
        padding: .75em 0;
        display: flex;
        justify-content: center;
        align-items: center;
        text-transform: uppercase;
        background-color: $mainDark;
        color: white;

        & h2{
            font-size: 1.2em;
        }
    }

    &__list{
        position: relative;
        max-height: 60vh;
        overflow-y: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }
}