<section class="section services_selector">
    <select name="" id="">
        <option value="sample">Seleccione un servicio para ver detalles</option>

        <option value="sample">Montaje de paneleria ligera</option>
        <option value="sample">Enchapes decorativos</option>
        <option value="sample">Pulido y brillado de pisos</option>
        <option value="sample">Encimeras</option>
    </select>

    <div class="services_selector__button">
        <div class="services_selector__button__inner">

        </div>
    </div>

</section>