/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/public_html/categories
/public_html/uploads
/public_html/download
/public_html/db
/public_html/.htaccess
app/config/parameters.yml
/.vscode/
public_html/error_log
/node_modules/