/* Effect 10: Corner indicator */
.la-anim-10 {
  z-index: 999;
  position: fixed;
  top: 90px;
  right: 0;
  width: 300px;
  height: 300px;
  background: #c2b930;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: translateX(100%) translateY(-100%) rotate(45deg);
  transform: translateX(100%) translateY(-100%) rotate(45deg);
  pointer-events: none;
}

.la-anim-10.small-anim {
  top: 50px;
}

.la-anim-10.la-animate {
  -webkit-transform: translateX(50%) translateY(-50%) rotate(45deg);
  transform: translateX(50%) translateY(-50%) rotate(45deg);
}

/* Loading circle idea from http://codepen.io/Metty/details/lgJck */
.la-anim-10::before,
.la-anim-10::after {
  position: absolute;
  bottom: 30px;
  left: 50%;
  display: block;
  border: 5px solid #fff;
  border-radius: 50%;
  content: "";
}

.la-anim-10::before {
  margin-left: -40px;
  width: 80px;
  height: 80px;
  border-right-color: #c2b930;
  border-left-color: #c2b930;
  -webkit-animation: rotation 3s linear infinite;
  animation: rotation 3s linear infinite;
}

.la-anim-10::after {
  bottom: 50px;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border-top-color: #c2b930;
  border-bottom-color: #c2b930;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.email-notification-background {
  background-color: rgba(255, 255, 255, 0.4117647058823529);
  border-radius: 5px;
}

.custom-background {
  background-color: rgba(255, 255, 255, 0.4117647058823529);
}

.app-separator {
  padding-bottom: 10px;
  padding-top: 10px;
}

.btn-user {
  padding: 0.1rem 0.1rem !important;
}
