@import "../../../../node_modules/flickity/dist/flickity";

.product_images{
	width: 100%;

	&__small{
		width: 100%;
	}
}

.carousel{
	width: 100%;
	min-height: 35vh;

	&--small{
		height: 11vh;
		min-height: 11vh;
		width: 95%;
		margin: .25em auto 1em;

		& .carousel__cell{
			height: 11vh;
			width: 28%;
			margin: 0 .25em;
		}
	}

	&__cell {
		display: flex;
		justify-content: center;
		width: 100%;
		height: 100%;

		& img{
			width: auto;
			height: 100%;
		}
	}

}

.flickity-prev-next-button{
	width: 22px;
	height: 22px;
}