.similar_products{
	position: relative;
	width: 100%;

	&__show_button{
		& img{
			height: .8em;
		}
	}
	&__container{
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		z-index: 1;

		transform: translateY(0%);
		opacity: 1;

		transition: all .3s ease-in-out;
		background: rgba(black, .75);

		&--hide{
			position: absolute;
			opacity: 0;
			transform: translateY(10%);
			z-index: -1;
		}

		&__modal{
			top: 8em;
			position: relative;
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			align-content: flex-start;
			width: 90%;
			padding: 0 1em 0;
			margin: 0 5%;
			max-height: 70vh;
			overflow-y: auto;
			background: white;
			z-index: 1;
			border-radius: 2px;

			&__header{
				position: sticky;
				top: 0;
				z-index: 1;
				height: 2.5em;
				width: 100%;
				padding: 0 .5em;
				display: flex;
				justify-content: space-between;
				align-items: center;
				background: white;

				&  h5{
					margin-bottom: 0;
				}

				&__close{
					position: relative;
					border-radius: 50%;
					border: 2px transparent solid;
					width: 2em;
					height: 2em;
					background: transparent;
					z-index: 3;
					outline:0;

					&:before, &:after{
						top: 50%;
						left: 50%;
						position: absolute;
						background: #282827;
						content: '';
						width: 1.25em;
						height: 3px;
					}

					&:before{
						transform: translate(-50%, -50%) rotate(45deg);
					}

					&:after{
						transform: translate(-50%, -50%) rotate(-45deg);
					}
				}
			}

		}
	}
}

