<div id="termsAndConditionsModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Términos y Condiciones</h4>
            </div>
            <div class="modal-body">
                {{terms|raw}}
            </div>
            <div class="modal-footer">
                <button class="btn navigation-button" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>