<div class="whatsapp_float ">

    <div class="whatsapp_float__image">
        <img src="{{ asset('bundles/conceptos/images/whatsapp.svg') }}" alt="">
    </div>
    <div class="whatsapp_float__text big">
        <p class="whatsapp_float__text__title">¿Necesitas ayuda?</p>
        <p class="whatsapp_float__text__subtitle">
            Consulta con nuestro personal en tiempo real...
            <br>
            Lunes-Sábado
            <br>
            9:00h - 20:00h
        </p>
    </div>
    <div class="whatsapp_float__text small">
        <p class="whatsapp_float__text__title">... Contáctenos por Whatsapp ...</p>
    </div>
    <div class="whatsapp_float__close"></div>
    <a target="_blank"  href="http://wa.me/5352458380?text=Estoy%20interesado%20en%20...">
        <div></div>
    </a>
</div>