<section class="description">

    <div class="description__badge">
        <p>Servicios /</p>
    </div>

    <div class="description__info">
        <h2>Enchapes decorativos</h2>
    </div>

    <div class="description__explain">
        <div class="description__explain__content">
            <p>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Amet dicta ducimus
                exercitationem iusto laboriosam magnam
                natus optio quas quibusdam, quis, quo
                quod reiciendis, soluta suscipit ullam!
                Facilis incidunt molestiae officiis!</p>
            <p>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Amet dicta ducimus
                exercitationem iusto laboriosam magnam
                natus optio quas quibusdam, quis, quo
                quod reiciendis, soluta suscipit ullam!
                Facilis incidunt molestiae officiis!</p>
        </div>

    </div>
</section>