div {
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
    background: $mainGrey;
    color: $mainDarkGrey;
}

h1, h2, h3, h4, h5, h6, p, span, em, li, textarea, label, input{
    font-family: 'Montserrat', sans-serif !important;
    letter-spacing: .5px;
}

p, li, label, a{
    font-size: 1.05em;

}

main{
    margin-bottom: 3em;
}

a{
    text-decoration: underline;

    &.hide{
        text-decoration: none;
        color: $mainDarkGrey;
    }
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}