.breadcrumb{
    display: flex;
    width: 100%;
    background: $mainDark;
    color: $mainLightGrey;

    & ul{
        display: flex;
        width: 100%;
        margin: .25em;
        list-style: none;
        padding-left: 0;
        overflow-x: auto;

        & li{
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-size: .9em;
            white-space: nowrap;

            &:after{
                position: relative;
                content: '/';
                top: 0;
                margin: .25em;
                font-size: 1.25em;
            }

            &:last-child{
                font-weight: 700;

                &:after{
                    display: none;
                }
            }
        }
    }
}