.product{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 49%;
    margin: 1% 0;
    background-color: white;

    &__image{
        width: 100%;
        height: 25vh;
    }

    &__content{
        padding: .5em;
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        &__name{

            & h4{
                margin: 0;
                font-weight: 700;
                font-size: 1.2em;
                text-transform: uppercase;
            }
        }

        &__description{
            margin: .25em 0 auto;

            & p{
                margin: .1em auto;
            }
        }

        &__time{
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin: .25em auto;

            &:before{
                content: '';
                position: relative;
                width: 1.5em;
                height: 1.5em;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                margin-right: .2em;
            }

            & p{
                margin: 0;
                text-transform: uppercase;
                color: $mainGreen;
                font-weight: 700;
                font-size: .9em;
                letter-spacing: 0;
            }
            &.in-store{
                &:before {
                    background-image: url('../images/in-store-active.png');
                }
            }
        }

        &__variations{
            margin: .25em 0;

            & p{
                margin: 0;
                font-style: italic;
                font-weight: 600;
                color: $mainDarkGrey;
            }
        }

        &__price{
            width: calc(100% - 2em);
            display: flex;
            align-items: center;
            margin-top: 1em;

            & p{
                margin: 0;
                font-weight: 700;

            }
        }

        &__cart{
            position: relative;
            width: 2em;
            height: 2em;
            margin-top: 1em;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            background-image: url('../images/cart.png');
        }
    }
}