<footer class="footer">
    <div class="footer__contact_data">
        <div class="footer__contact_data__logo">
            <img src="{{ home.data.logo.image.path }}" alt="">
        </div>

        <div class="footer__contact_data__info">
            <ul>
                <li>Direccion</li>
                <li>Correo</li>
                <li>Telefono</li>
                <li>Horario</li>
            </ul>
        </div>

        <div class="footer__contact_data__social">
            <ul>
                <li><img src="{{ asset('img/social/facebook.svg') }}" alt=""></li>
                <li><img src="{{ asset('img/social/instagram.svg') }}" alt=""></li>
                <li><img src="{{ asset('img/social/whatsapp.svg') }}" alt=""></li>
            </ul>
        </div>

    </div>
    <div class="footer__contact_form">
        <div class="footer__contact_form__title">
            <h4>Contáctanos</h4>
        </div>
        <div class="footer__contact_form__form">
            <form action="">

                <div class="form__item">
                    <label for="">Nombre</label>
                    <input type="text" placeholder="Nombre">
                </div>
                <div class="form__item">
                    <label for="">Correo</label>
                    <input type="email" placeholder="Correo">
                </div>
                <div class="form__item">
                    <label for="">Mensaje</label>
                    <textarea name="" id="" cols="20" rows="5">
                    </textarea>
                </div>

                <div class="form__item form__item--center">
                    <input class="btn btn--dark" type="submit" value="Enviar">
                </div>
            </form>
        </div>

    </div>
    <div class="footer__subscribe">

        <div class="footer__subscribe__title">
            <h4>Suscribete</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa cupiditate distinctio eum hic pariatur quasi quia ratione! Aspernatur autem facere fugit ipsa minima quidem sint soluta tempora vero voluptatem? Rerum?</p>
        </div>

        <div class="footer__subscribe__form">
            <form action="">

                <div class="form__item">
                    <label for="">Nombre</label>
                    <input type="text" placeholder="Nombre">
                </div>
                <div class="form__item">
                    <label for="">Correo</label>
                    <input type="email" placeholder="Correo">
                </div>
                <div class="form__item">
                    <label for="">Mensaje</label>
                    <textarea name="" id="" cols="20" rows="5">
                    </textarea>
                </div>

                <div class="form__item form__item--center">
                    <input class="btn btn--dark" type="submit" value="Subscribirme">
                </div>
            </form>
        </div>

    </div>
    <div class="footer__terms_privacy">
        <ul>
            <li><a href="">Términos y condiciones</a></li>
            <li><a href="">Política de privacidad</a></li>
        </ul>

        <p>Conceptos Copyright 2020</p>
    </div>
</footer>