<section class="hero">
    <div class="hero__image">

        {% if  heroImage is defined %}
            <img src="{{ asset(heroImage) }}" alt="">
        {% else %}
            <img src="{{ asset('/uploads/images/blog/5e7f83497ac5b.jpg') }}" alt="">
        {% endif %}

    </div>
    <div class="hero__content">
        <div class="hero__content__title">
            <h1>Tienda Conceptos</h1>
        </div>
        <div class="hero__content__text">
            <p>Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Accusantium at
                consectetur corporis dolore dolorum
                eligendi eveniet fuga, illo maiores</p>
        </div>
    </div>
</section>