<div class="product_small">
    <a class="hide" href="{{ path('product', {id: product.id}) }}">
    <div class="product_small__image">
      {% if product.mainImage %}
        {{ vich_uploader_asset(product.mainImage, 'imageFile') | imgTag(sizes = '50vw') | raw }}
      {% endif %}
    </div>

    <div class="product_small__price">
        <span>${{ product.calculatePrice }}.00</span>
    </div>

    <div class="product_small__cart">
        <img src="{{ asset('bundles/conceptos/images/icons/carrito-negro.svg') }}">
    </div>
    </a>
</div>
