<div class="product">
    <div class="product__image">
        <img src="{{ asset('/uploads/images/blog/5e7f83497ac5b.jpg') }}" alt="">
    </div>
    <div class="product__content">
        <div class="product__content__name">
            <h4>Beno</h4>
        </div>
        <div class="product__content__description">
            <p>Lorem ipsum dolor sit ametg</p>
        </div>
        <div class="product__content__time in-store">
            <p>Entrega en 24h</p>
        </div>
        <div class="product__content__variations">
            <p>Otras variantes</p>
        </div>
        <div class="product__content__price">
            <p>$ 7.00</p>
        </div>
        <div class="product__content__cart">

        </div>
    </div>
</div>