<div class="product_extra_small">
    <div class="product_extra_small__image">
        {{  asset(vich_uploader_asset(product.mainImage, 'imageFile')) | imgTag(sizes = '28vw') | raw }}
    </div>
</div>