<nav class="section_site">
    <ul class="section_site__list">
        <li class="{% if 'Tienda' in breadcrumbs %} active {% endif %}"><a class="hide soft" href="{{ path('store') }}">Tienda</a></li>
        <li class="{% if 'Construcci칩n' in breadcrumbs %} active {% endif %}"><a class="hide soft" href="{{ path('construction') }}">Construcci칩n</a></li>
        <li class="{% if 'Dise침o' in breadcrumbs %} active {% endif %}"><a class="hide soft" href="{{ path('design') }}">Dise침o</a></li>
    </ul>
</nav>