.home__hero{
    height: 75vh;
    position: relative;

    &:before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(white, .3);
    }

    &:after{
        content: '';
        position: absolute;
        width: 100%;
        height: 4em;
        bottom: 0;
        background: linear-gradient(to bottom, transparent, $mainGrey);
    }

    & img{
        width: 100%;
        height: 75vh;
        object-fit: cover;
    }

    &__content{
        position: absolute;
        top: 2em;
        left: 2em;
        width: 80%;

        &__title{
            & h1{
                color: $mainDark;
                font-size: 1.75em;
                font-weight: 700;
            }

            & h2{
              color: $mainDark;
              font-size: 1em;
              font-weight: 700;
          }
        }

        &__btn{
            margin-top: 1.5em;
            & a{
                padding: .1em .5em;
                border: 2px $mainYellow solid;
                text-transform: uppercase;
                color: $mainDark;
                background-color: rgba(white, .75);
            }
        }
    }

    @media (min-width: 992px) {
      &__content {
        left: 4em;
      }
    }
}
