<section class="categories">
    <div class="categories__list">

        {% for category in categories %}
            {%  if category.parents | length == 0 %}

                <div class="categories__list__item">
                    <div class="categories__list__item__image">
                        <img src="{{ vich_uploader_asset(category, 'imageSiteFile') }}" alt="">
                    </div>
                    <div class="categories__list__item__name">
                        <p>{{ category }}</p>
                    </div>
                </div>

            {% endif %}

        {% endfor %}
    </div>
</section>
