<section class="description">

    <div class="description__badge">
        <p>Obras realizadas /</p>
    </div>

    <div class="description__info">
        <h2>Balcon en nuevo vedado</h2>

        <ul>
            <li><span>Ubicacion:</span> Nuevo Vedado</li>
            <li><span>Tipo de intervencion:</span> Remodelacion</li>
            <li><span>Funcion:</span> Zona de descanzo</li>
            <li><span>Area:</span> 10m2</li>
            <li><span>Ano del proyecto:</span> 2020</li>
        </ul>
    </div>

    <div class="description__explain">
        <h3>Memoria descriptiva:</h3>

        <div class="description__explain__content">
            {{ designWork.description }}
        </div>

    </div>
</section>