{% if app.user|default %}
    {% set totalEvaluationPoints = 0 %}
    {% set numberOfEvaluations = 0 %}
    {% for evaluation in product.evaluations %}
        {% set totalEvaluationPoints = totalEvaluationPoints + evaluation.evaluationValue %}
        {% set numberOfEvaluations = numberOfEvaluations + 1 %}
    {% endfor %}
    {% if numberOfEvaluations > 0 %}
        {% set productEvaluation = totalEvaluationPoints / numberOfEvaluations %}
    {% else %}
        {% set productEvaluation = 0 %}
    {% endif %}
    <div class="d-flex align-self-start">
        <div class="d-flex">
            <span class="{% if productEvaluation > 0 %}favorite{% endif %} display-product-evaluation fa fa-star"></span>
            <span class="{% if productEvaluation > 1 %}favorite{% endif %} display-product-evaluation fa fa-star ml-1"></span>
            <span class="{% if productEvaluation > 2 %}favorite{% endif %} display-product-evaluation fa fa-star ml-1"></span>
            <span class="{% if productEvaluation > 3 %}favorite{% endif %} display-product-evaluation fa fa-star ml-1"></span>
            <span class="{% if productEvaluation > 4 %}favorite{% endif %} display-product-evaluation fa fa-star ml-1"></span>
        </div>
    </div>
{% endif %}
