<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Encabezado</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-12">
                        <div class="center-block">
                            <form class="dropzone" id="picture-dropzone-help-header"
                                  action="{{ path('upload_site_image') }}">
                                <div class="dz-message needsclick colp" style="font-size: 25px;">
                                    Seleccione una im치gen
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Introducci칩n</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Texto Introductorio</label>
                    <textarea class="form-control" rows="3" id="introduction-text"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">FAQs</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Pregunta</label>
                    <textarea class="form-control" rows="3" id="faq-question"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Respuesta</label>
                    <textarea class="form-control" rows="3" id="faq-answer"></textarea>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary pull-right" id="btn-new-faq">
                        A침adir
                    </button>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="panel panel-default" style="margin-top: 20px;">
                            <div class="panel-heading">
                                <h3 class="panel-title">FAQ a침adidas</h3>
                            </div>
                            <div class="row row-faq"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
