<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label class="control-label">Principal</label>
            <input type="text" class="form-control" id="request-main">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="form-group">
            <label class="control-label">Secundario</label>
            <textarea class="form-control" rows="3" id="request-secondary"></textarea>
        </div>
    </div>
</div>
