.blog_list__title{
  & h2{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.2em;
  }
}

.content-post{
  background: $mainGrey;
}

.content-post{
  padding: 0;
  margin: auto;
}

.post{
  background: white;
  margin: auto;
  padding-left: 0;

  &-details{
    & h3{
      margin: 0;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 1.15em;
    }
  }
}

.post-body{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & .ProductMarker{
    width: 45%;
  }
}
