{% trans_default_domain 'FOSUserBundle' %}

<div id="loginModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div id="login-modal" class="d-flex flex-column">
          {{ include('FOSUserBundle:Security:login_modal_content.html.twig') }}
        </div>
      </div>
    </div>
  </div>
</div>
