{% trans_default_domain 'FOSUserBundle' %}

<div class="d-flex flex-column ml-3">
    <div id ="login-form">
        <form class="container pl-0 pr-0" role="form" method="POST" action="{{ path('fos_user_security_check') }}">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            {# <div class="d-flex mb-2">
                <span class="bottom-text">Acceder con mis redes sociales</span>
            </div>
            <div class="d-flex">
                <a href="">
                    <span class="facebook mx-2">
                        <i class="socicon socicon-facebook share-icon"></i>
                    </span>
                </a>
                <a href="">
                    <span class="plusone mx-2">
                        <i class="socicon socicon-googleplus share-icon"></i>
                    </span>
                </a>
                <a href="">
                    <span class="twitter mx-2">
                        <i class="socicon socicon-twitter share-icon"></i>
                    </span>
                </a>
            </div> #}
            <div class="d-flex mt-2">
                <span class="bottom-text">Acceder al sitio</span>
            </div>
            <div class="col-12 pl-0 mb-2">
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" name="_username" class="form-control" id="username" placeholder="Usuario" required autofocus>
                </div>
            </div>
            <div class="col-12 pl-0 mb-0">
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" name="_password" class="form-control" id="password" placeholder="Password" required>
                </div>
            </div>
            <div class="login_modal__remember">
                <button type="submit" class="mb-3 mr-0">
                    Registrarse
                </button>


                <label class="" for="register">Registrarme</label>
                <input type="checkbox" id="register" name="register">
            </div>
        </form>
    </div>
    <div id="register-form" class="collapse">
        {# <div class="d-flex mb-2">
            <span class="bottom-text">Registrarme con mis redes sociales</span>
        </div>
        <div class="d-flex">
            <a href="">
                <span class="facebook mx-2">
                    <i class="socicon socicon-facebook share-icon"></i>
                </span>
            </a>
            <a href="">
                <span class="plusone mx-2">
                    <i class="socicon socicon-googleplus share-icon"></i>
                </span>
            </a>
            <a href="">
                <span class="twitter mx-2">
                    <i class="socicon socicon-twitter share-icon"></i>
                </span>
            </a>
        </div> #}
        <div class="d-flex mt-2">
            <span class="bottom-text">Crear un perfil en el sitio</span>
        </div>
        {{ render(controller('AppBundle:Security:register')) }}
    </div>


</div>
