{% trans_default_domain 'FOSUserBundle' %}

<div id="loginModal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="login-modal" class="container-fluid membership-form h-100 d-none d-lg-flex" style="background-image: url('{{home.data.login.image.path}}'); background-size: contain; background-repeat: round;">
                    {{ include('FOSUserBundle:Security:login_modal_content.html.twig') }}
                </div>
                <div id="login-modal-short" class="container-fluid membership-form h-100 d-lg-none" style="background-image: url('{{home.data.login.imageShort.path}}'); background-size: contain; background-repeat: round;">
                    {{ include('FOSUserBundle:Security:login_modal_content.html.twig') }}
                </div>
            </div>
        </div>
    </div>
</div>
