{% set count = 0 %}

<div class="product_images carousel">
	{% for imageSet in imageSets %}
		{% for image in imageSet %}
			{% set count = count + 1 %}
			<div class="carousel__cell">

				{{  vich_uploader_asset(image, 'imageFile') | imgTag(sizes = '100vw') | raw }}

			</div>
		{% endfor %}
	{% endfor %}
</div>

{% if count > 1 %}
	<div class="product_images__small carousel carousel--small">
		{% for imageSet in imageSets %}
			{% for image in imageSet %}
				<div class="carousel__cell">

					{{  vich_uploader_asset(image, 'imageFile') | imgTag(sizes = '28vw') | raw }}

				</div>
			{% endfor %}
		{% endfor %}
	</div>
{% endif %}
