<div class="gallery_used_products">

    <section class="gallery gallery--active">
        <div class="gallery__title">
            <h3>Galeria del proyecto</h3>
        </div>

        <div class="gallery__content">
            {% for i in 1..12 %}
                <div class="gallery__content__item">
                    <img src="{{ asset('/uploads/images/blog/5e7f83497ac5b.jpg') }}" alt="">
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="used_products">
        <div class="used_products__title">
            <h3>Productos usados</h3>
        </div>

        <div class="used_products__products">
            {% for i in 1..6 %}
                {{ include('new_site/components/global/_product_small.html.twig') }}
            {% endfor %}
        </div>

    </section>
</div>