.profile-product {
  background-color: $mainGray;

  & .profile-image {
    width: 100px;
    height: 100px;
  }

  & .in-process-product {
    color: $mainRed;
  }

  & .requested-product {
    color: $mainYellow;
  }

  & .delivered-product {
    color: $mainGreen;
  }

  @media (min-width: 992px) {
    & .profile-image {
      width: 150px;
      height: 150px;
    }
  }
}
