@import "./base/variables";
@import "./base/mixins";

@import "./modules/app/global";
@import "./modules/app/new_navbar";
@import "./modules/app/login_modal";
@import "./modules/app/header_image";
//@import "./modules/app/search_bar";
@import "./modules/app/lateral_menu";
@import "./modules/app/require_form";
@import "./modules/app/products";
@import "./modules/app/carrito";
@import "./modules/app/popular_product";
@import "./modules/app/carousell";
@import "./modules/app/footer";
@import "./modules/app/whatsapp";