<section class="section_store">
    <div class="section_store__title">
        <h2>Lo más vendido</h2>
    </div>

    <div class="section_store__top_content">
        {% for product in popularProducts %}
            {{ include('new_site/components/global/_product_extra_small.html.twig') }}
        {% endfor %}
    </div>

    <div class="section_store__content">

        {% set pages = (products | slice(0, 36) |length)//4  %}
        {% for j in 1..pages %}
            <div class="section_store__content__container">
                {% for product in products | slice((j-1)*4, 4) %}

                    {{ include('new_site/components/global/_product.html.twig') }}

                {% endfor %}
            </div>
        {% endfor %}
    </div>

    <div class="section_store__more">
        <button class="btn btn--grey">Ver más</button>
    </div>

</section>