<section class="sub_categories">
    <div class="sub_categories__list">

        {% for subCategory in mainCategory.subcategories %}

            <div class="sub_categories__list__item">
                <a class="hide" href="{{ path('store_section', {categories:subCategory.id}) }}">
                    <div class="sub_categories__list__item__image">
                        <img src="{{ vich_uploader_asset(subCategory, 'imageSiteFile') }}" alt="">
                    </div>

                    <div class="sub_categories__list__item__name">
                        <p>{{ subCategory }}</p>
                    </div>
                </a>
            </div>

        {% endfor %}

    </div>
</section>