<section class="section services_selector">
    <select name="" id="">
        {% for service in designServices %}
            <option value="sample">{{ service.title }}</option>
        {% endfor %}
    </select>

    <div class="services_selector__button">
        <div class="services_selector__button__inner">

        </div>
    </div>

</section>