<div class="work">
    <div class="work__image">
        <img src="{{ asset(designWork.path) }}" alt="">
    </div>
    <div class="work__text">
        <h4>{{ designWork.title }}</h4>
        <p>
            {{ designWork.description | striptags | slice(0,75) }}...
        </p>
        <a href="{{ path('desing_work', {id:designWork.id,  work:designWork.title }) }}" class="btn btn--dark btn--small">Ver mas</a>
    </div>
</div>