.btn-add-cart {
  margin-left: 0px;
}

.product-related {
  cursor: pointer;
}

.price-offer-details {
  font-size: 1.5rem !important;
}

.offer-dates {
  font-size: 1.5rem;
}

p {
  padding-top: 0px !important;
}

.favorite-product.details {
  font-size: 50px !important;
  top: 0 !important;
  left: 30px !important;
}
