.carousel-indicators {
    bottom: -5px;
    margin-bottom: 0;

    & li{
        background-color: #e5e5e5;
        border: 1px solid $mainDark;
        border-radius: 50%;
        height: .75em;
        width: .75em;

        &.active{
            background-color: $mainYellow;
        }
    }
}

.carousel-control {
    background-color: $mainDark;
    color: $mainYellow;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    top: 50%;

    &:focus {
        color: $mainYellow;
    }
}

#carousel-product-details{
    position: relative;
    height: 45vh;

    & .carousel-inner{
        height: 100%;

        & .carousel-item{
            height: 100%;

            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                max-width: 80vh;
            }
        }
    }

    @media (min-width: 992px) {
      height: 70vh;
    }
}
