@keyframes show {
  0%{
      transform: translateX(100%);
  }
  100%{
      transform: translateX(0);
  }
}

@keyframes hide {
  0%{
      transform: translateX(100%);
  }
  100%{
      transform: translateX(0);
  }
}

.contact_card{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60%;
  right: 0;
  width: 45%;
  height: 30vh;
  animation: show 2s ease-in-out 1;
  background: $mainDark;
  transition: transform 1s ease-in;
  z-index: 15;
  opacity: 0.85;

  @media (min-width: 992px) {
    width: 13%;
  }

  &__close{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 16;
      width: 1.2em;
      height: 1.2em;
      background: $mainDark;
      cursor: pointer;

      &:before, &:after{
          content: '';
          position: absolute;
          width: 55%;
          height: 2px;
          background: $mainGrey;
      }

      &:before{
          transform: rotate(45deg) ;
      }

      &:after{
          transform: rotate(-45deg);
      }
  }

  & a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &__content{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    height: 90%;
    width: 95%;
    padding: 0.5em;

    & i {
      color: white;
      font-size: 3em;
    }

    & h2, h3 {
      font-weight: 700;
      margin: .25em 0;
    }

    & h2{
      color: white;
      font-size: 0.9em;
      margin: 0;
    }

    & h3 {
      color: white;
      font-size: 0.6em;
    }
  }

  &--hide {
    transform: translateX(100%);
  }

  &--no-display {
    display: none;
  }
}
