#conceptos-contact-form{
    background: $mainGrey;

    & .conceptos-image{
        position: absolute;
        top: 60vh;
        height: 75vh;
        object-fit: cover;
    }


    &:after{
        content: '';
        position: absolute;
        height: 70%;
        width: 100%;
        background: linear-gradient(to top, transparent, #e5e5e5);
        top: 60vh;
    }
}
