#conceptos-contact-form{
    & .conceptos-image{
        position: absolute;
        top: 65vh;
        height: 75vh;
        object-fit: cover;
    }


    &:after{
        content: '';
        position: absolute;
        height: 48%;
        width: 100%;
        background: linear-gradient(to top, transparent, #e5e5e5);
        top: 65vh;
    }
}
