.popular_product{

    & > div:first-child{
        position: relative;
        overflow: hidden;
        &:before{
            position: absolute;
            background-color: $mainYellow;
            content: 'OFERTA';
            top: 0;
            color: $mainDark;
            font-weight: 700;
            padding: .1em 2em;
            transform: translate(-35%, 50%) rotate(-45deg);
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            font-size: .8em;
        }
    }
}

.popular_product_short > div:first-child:before {
  transform: translate(-25%, 50%) rotate(-45deg);
    font-size: .6em;
}
