.conceptos-offer-price{
    position: relative;
    &:before{
        content: '';
        position: absolute;
        width: 75%;
        top: 40%;
        left: 25%;
        transform: rotate(45deg);
        height: 2px;
        background: rgba($mainDark, 75);
    }

    font-size: 12px;
}