.search_bar {
    position: fixed;
    z-index: 3;
    width: 100%;
    border: 1px $mainDark solid;

    & form{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;

        & input[type='text'] {
            width: 100%;
            padding: .75em;
            opacity: 90%;
            background-color: #ffffff;
            margin: 0;
            height: auto;
            font-size: 1em;
        }

        & button[type='submit']{
            border: 1px transparent solid;
            background-color: transparent;
            width: 3em;
            height: 3em;
            position: absolute;
            z-index: 4;
            right: 1em;
            transform: scale(.75);

            &:before{
                position: absolute;
                top: 0;
                left: 0;
                content: '';
                width: 1.25em;
                height: 1.25em;
                border-radius: 50%;
                border: 2px $mainDark solid;
                transform: translateY(50%);
            }

            &:after{
                position: absolute;
                content: '';
                width: 1.05em;
                height: 1px;
                border: 1px $mainDark solid;
                transform: rotate(46deg) translateX(-60%);
                transform-origin: 0 50%;
                bottom: 25%;
            }
        }

    }
}

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */
.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
