<div class="table-responsive">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Tarjeta</th>
            <th>Cantidad</th>
            <th>Precio</th>
        </tr>
        </thead>
        <tbody>
        {% for productCard in value %}
            <tr>
                <td>
                    {{ productCard.card }}
                </td>
                <td>{{ productCard.count }}</td>
                <td>${{ productCard.price }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" class="text-center">Sin tarjetas pedidas</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>