
.my_dropdown {
	position: relative;
	display: inline-block;

	&__content {
		display: none;
		right: 0;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;

		width: 55vw;
		max-height: 50vh;
		overflow-y: auto;

		box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 2;
		border-radius: 4px;

		animation: swing-out-top-bck .25s cubic-bezier(0.600, -0.280, 0.735, 0.045) both;


		@include atLarge{
			width: 20vw;
		}
	}

	&:hover .my_dropdown__content {
		display: block;

		animation: swing-in-top-bck .2s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
	}

	& img{
		height: 1em;
		width: auto;
	}
}

.products_breadcrumbs{
	display: flex;

	@include atLarge{
		width: 95%;
		margin: auto;
	}

	& > ul{
		margin: .5em;
		padding: 0;
		display: flex;
		flex-wrap: wrap;

		& > li{
			position: relative;
			display: inline;
			list-style: none;
			margin-right: 1.2em;
			text-transform: uppercase;
			font-weight: bold;
			cursor: pointer;

			& a {
				font-size: 1em;
				color: #282827;
				font-weight: bold;
			}

			&:after{
				top: 50%;
				position: absolute;
				content: '\\';
				color: $mainYellow;
				font-size: 1.5em;
				font-weight: 500;
				transform: translateY(-50%);
				margin-left: .25em;
			}

			&:first-child{
				width: 100%;
				font-size: 1.1em;
				margin: .5em 0;

				@include atLarge{
					width: auto;
					font-size: 1em;
					margin: 0 1.2em 0 0;
				}
			}

			&:last-child:after{
				display: none;
			}

			& li {
				position: relative;
				margin: .25em 0;

				:after {
					position: absolute;
					content: '';
					width: 80%;
					background-color: rgba($mainYellow, .15);
					height: 1px;
					bottom: 0;
					left: 0;

					@include atLarge{
						width: 100%;
					}
				}

				&:last-child:after{
					display: none;
				}
			}
		}
	}
}



/**
 * ----------------------------------------
 * animation swing-in-top-bck
 * ----------------------------------------
 */

@keyframes swing-in-top-bck {
	0% {
		transform: rotateX(70deg);
		transform-origin: top;
		opacity: 0;
	}
	100% {
		transform: rotateX(0deg);
		transform-origin: top;
		opacity: 1;
	}
}


@keyframes swing-out-top-bck {
	0% {
		transform: rotateX(0deg);
		transform-origin: top;
		opacity: 1;
	}
	100% {
		transform: rotateX(-90deg);
		transform-origin: top;
		opacity: 0;
	}
}