@import "../../../../node_modules/flickity/dist/flickity";

.popular_products__container{
	margin: 2em 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.carousel{
	height: 11vh;
	min-height: 11vh;
	width: 95%;
	margin: 0 auto 1em;

	& .carousel__cell{
		height: 11vh;
		width: 28%;
		margin: 0 .25em;

		& img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

}

.flickity-prev-next-button{
	width: 22px;
	height: 22px;
}