body {
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, p, span, em, textarea, input {
  font-family: 'Montserrat', sans-serif !important; }

.login_modal__container {
  background-color: #e3e3e3; }

.login_modal__container form input {
    background: white; }

.login_modal__container form button[type='submit'] {
    background: #e3e3e3;
    border: #c2b930 1px solid;
    text-transform: uppercase;
    padding: .5em .75em;
    font-weight: 700; }

.login_modal__container form label.collapse {
    display: block !important; }

.login_modal__container__remember {
    display: flex;
    justify-content: space-between; }

.conceptos-header-image {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 75vh; }

.search_bar {
  position: fixed;
  z-index: 3;
  width: 100%;
  border: none;
  padding: 0;
  z-index: 100; }

.search_bar form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; }

.search_bar form input[type='text'] {
      width: 100%;
      padding: .75em;
      background-color: #ffffff;
      margin: 0;
      height: auto;
      font-size: 1em; }

.search_bar form button[type='submit'] {
      border: 1px transparent solid;
      background-color: transparent;
      width: 3em;
      height: 3em;
      position: absolute;
      z-index: 4;
      right: 1em;
      transform: scale(0.75); }

.search_bar form button[type='submit']:before {
        position: absolute;
        top: 0;
        left: 0;
        content: '';
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        border: 2px #282827 solid;
        transform: translateY(50%); }

.search_bar form button[type='submit']:after {
        position: absolute;
        content: '';
        width: 1.05em;
        height: 1px;
        border: 1px #282827 solid;
        transform: rotate(46deg) translateX(-60%);
        transform-origin: 0 50%;
        bottom: 25%; }

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */

.headroom {
  will-change: transform;
  transition: transform 200ms linear; }

.headroom--pinned {
  transform: translateY(0%); }

.headroom--unpinned {
  transform: translateY(-100%); }

.conceptos-category-icon {
  width: 1.5em;
  height: auto; }

@-webkit-keyframes zoomIn {
  0% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(1.5); }
  100% {
    transform: scaleX(1); } }

@keyframes zoomIn {
  0% {
    transform: scaleX(1); }
  50% {
    transform: scaleX(1.5); }
  100% {
    transform: scaleX(1); } }

#open-categories-menu {
  -webkit-animation: zoomIn 2.5s ease-in 10;
          animation: zoomIn 2.5s ease-in 10; }

.required {
  position: relative; }

.required:before {
    position: absolute;
    content: '*';
    top: 0;
    left: 0;
    width: .25em;
    height: .25em;
    font-size: 1.25em;
    color: red; }

.conceptos-offer-price {
  position: relative;
  font-size: 12px; }

.conceptos-offer-price:before {
    content: '';
    position: absolute;
    width: 75%;
    top: 40%;
    left: 25%;
    transform: rotate(45deg);
    height: 2px;
    background: #282827; }

.custom_btn {
  padding: .07em .5em;
  border: 1px #c2b930 solid;
  text-transform: uppercase;
  color: #282827;
  background-color: rgba(255, 255, 255, 0.75); }

.popular_product > div:first-child {
  position: relative;
  overflow: hidden; }

.popular_product > div:first-child:before {
    position: absolute;
    background-color: #c2b930;
    content: 'OFERTA';
    top: 0;
    color: #282827;
    font-weight: 700;
    padding: .1em 2em;
    transform: translate(-35%, 50%) rotate(-45deg);
    transform-origin: 50% 50%;
    font-size: .8em; }

.carousel-indicators {
  bottom: -5px;
  margin-bottom: 0; }

.carousel-indicators li {
    background-color: #e5e5e5;
    border: 1px solid #282827;
    border-radius: 50%;
    height: .75em;
    width: .75em; }

.carousel-indicators li.active {
      background-color: #c2b930; }

.carousel-control {
  background-color: #282827;
  color: #c2b930;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 50%; }

.carousel-control:focus {
    color: #c2b930; }

#carousel-product-details {
  position: relative;
  height: 45vh; }

#carousel-product-details .carousel-inner {
    height: 100%; }

#carousel-product-details .carousel-inner .carousel-item {
      height: 100%; }

#carousel-product-details .carousel-inner .carousel-item img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        max-width: 80vh; }

@media (min-width: 992px) {
    #carousel-product-details {
      height: 70vh; } }

#conceptos-contact-form .conceptos-image {
  position: absolute;
  top: 65vh;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover; }

#conceptos-contact-form:after {
  content: '';
  position: absolute;
  height: 48%;
  width: 100%;
  background: linear-gradient(to top, transparent, #e5e5e5);
  top: 65vh; }
