body {
  overflow-x: hidden; }

h1, h2, h3, h4, h5, h6, p, span, em, textarea, input {
  font-family: 'Montserrat', sans-serif !important; }

.new_navbar {
  position: fixed;
  top: 0;
  left: 0;
  background: #282827;
  z-index: 3;
  padding: .25em;
  display: grid;
  grid-template-areas: "logo logo user favorite cart" "menu search search search search";
  grid-template-columns: 13% 45% 12% 12% 12%;
  grid-template-rows: 3em 3em;
  width: 100%;
  grid-gap: 1%; }

@media (min-width: 1200px) {
    .new_navbar {
      grid-template-areas: "menu logo search user favorite cart";
      grid-template-columns: 3em 15em auto 3em 3em 3em;
      grid-template-rows: 3em;
      grid-gap: .5%; } }

.new_navbar__logo {
    width: 100%;
    display: flex;
    align-items: center; }

.new_navbar__logo img {
      width: auto;
      height: 2.5em; }

.new_navbar__content__menu {
    grid-area: menu;
    position: relative;
    width: 1.75em;
    height: 1.3em;
    top: .85em;
    margin-left: .5em;
    display: flex;
    align-items: center; }

.new_navbar__content__menu:before, .new_navbar__content__menu:after {
      position: absolute;
      content: '';
      background: white;
      width: 100%;
      height: .2em; }

.new_navbar__content__menu:before {
      top: 0; }

.new_navbar__content__menu:after {
      bottom: 0; }

.new_navbar__content__menu__middle {
      content: '';
      background: white;
      width: 100%;
      height: .2em; }

.new_navbar__content__search {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }

@media (min-width: 1200px) {
      .new_navbar__content__search {
        justify-content: flex-end; } }

.new_navbar__content__search form {
      position: relative;
      width: 100%; }

@media (min-width: 800px) {
        .new_navbar__content__search form {
          width: 50%;
          transform: translateX(-5%); } }

.new_navbar__content__search form input[type='text'] {
        border-radius: 30px;
        border: 1px solid white;
        background: white;
        padding: 0 .75em;
        height: 2.25em;
        font-size: 1em;
        width: 100%;
        outline: 0; }

.new_navbar__content__search form button[type='submit'] {
        border: 1px transparent solid;
        background-color: transparent;
        width: 2.5em;
        height: 2.5em;
        position: absolute;
        z-index: 4;
        right: 0;
        transform: scale(0.8);
        outline: 0;
        cursor: pointer;
        top: -2px; }

.new_navbar__content__user, .new_navbar__content__cart, .new_navbar__content__favorite {
    display: flex;
    justify-content: center;
    align-items: center; }

.new_navbar__content__user img, .new_navbar__content__cart img, .new_navbar__content__favorite img {
      width: 90%;
      height: 2em;
      -o-object-fit: contain;
         object-fit: contain; }

@media (min-width: 1200px) {
        .new_navbar__content__user img, .new_navbar__content__cart img, .new_navbar__content__favorite img {
          width: auto; } }

.new_navbar__content__favorite {
    grid-area: favorite; }

.new_navbar__content__user {
    grid-area: user; }

.new_navbar__content__cart {
    grid-area: cart;
    position: relative; }

.new_navbar__content__cart span {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 1;
      width: 1.1em;
      height: 1.1em;
      padding: .25em;
      bottom: .25em;
      left: 1em;
      border-radius: 50%;
      color: #282827;
      background-color: #c2b930; }

.lateral_menu {
  position: absolute;
  background: #282827;
  width: 85%;
  top: 6.5em;
  left: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform .5s ease-in-out; }

@media (min-width: 800px) {
    .lateral_menu {
      width: 20%;
      top: 3.5em; } }

.lateral_menu--visible {
    transform: translateX(0); }

.lateral_menu__close {
    position: absolute;
    border-radius: 50%;
    border: 2px transparent solid;
    width: 2em;
    height: 2em;
    top: .5em;
    right: .5em;
    background: transparent;
    z-index: 3;
    outline: 0; }

.lateral_menu__close:before, .lateral_menu__close:after {
      top: 50%;
      left: 50%;
      position: absolute;
      background: white;
      content: '';
      width: 1.25em;
      height: 3px; }

.lateral_menu__close:before {
      transform: translate(-50%, -50%) rotate(45deg); }

.lateral_menu__close:after {
      transform: translate(-50%, -50%) rotate(-45deg); }

.lateral_menu__content {
    transition: transform .5s ease-in-out; }

.lateral_menu__content--level_1 {
      transform: translateX(-105%); }

.lateral_menu__content--level_2 {
      transform: translateX(-210%); }

.lateral_menu__content ul, .lateral_menu__content ul.sub {
      margin: 0;
      padding: .75em 1em;
      width: 100%;
      height: 90vh;
      padding-bottom: 2em; }

.lateral_menu__content ul li, .lateral_menu__content ul.sub li {
        list-style: none;
        margin: .5em .25em;
        display: flex; }

.lateral_menu__content ul li a, .lateral_menu__content ul.sub li a {
          color: white;
          font-weight: 500;
          font-size: 1em;
          text-transform: uppercase;
          width: 100%; }

.lateral_menu__content ul li a:active, .lateral_menu__content ul.sub li a:active {
            color: #c2b930; }

.lateral_menu__content ul li img, .lateral_menu__content ul.sub li img {
          width: 1.25em;
          height: auto;
          max-height: 1.25em;
          margin-right: 1em;
          -webkit-filter: invert(1);
                  filter: invert(1);
          -o-object-fit: contain;
             object-fit: contain; }

.lateral_menu__content ul li img.no-invert, .lateral_menu__content ul.sub li img.no-invert {
            -webkit-filter: invert(0);
                    filter: invert(0); }

.lateral_menu__content ul ul.sub, .lateral_menu__content ul.sub ul.sub {
        position: absolute;
        transform: translateX(100%);
        top: 0; }

.lateral_menu__content ul ul.sub li:first-child, .lateral_menu__content ul.sub ul.sub li:first-child {
          position: relative;
          width: 75%; }

.lateral_menu__content ul ul.sub li:first-child:before, .lateral_menu__content ul ul.sub li:first-child:after, .lateral_menu__content ul.sub ul.sub li:first-child:before, .lateral_menu__content ul.sub ul.sub li:first-child:after {
            position: absolute;
            content: '';
            background: white;
            right: 1em;
            width: 1em;
            height: .25em;
            top: 50%; }

.lateral_menu__content ul ul.sub li:first-child:before, .lateral_menu__content ul.sub ul.sub li:first-child:before {
            transform: translateY(-100%) rotate(-45deg); }

.lateral_menu__content ul ul.sub li:first-child:after, .lateral_menu__content ul.sub ul.sub li:first-child:after {
            transform: translateY(100%) rotate(45deg); }

.lateral_menu__content ul ul.sub li:nth-child(2), .lateral_menu__content ul.sub ul.sub li:nth-child(2) {
          width: 70%; }

.lateral_menu__content ul ul.sub ul.sub, .lateral_menu__content ul.sub ul.sub ul.sub {
          opacity: 0;
          position: absolute;
          overflow-y: auto;
          overflow-x: hidden; }

.lateral_menu__content ul ul.sub ul.sub.show, .lateral_menu__content ul.sub ul.sub ul.sub.show {
            opacity: 1;
            z-index: 2; }

/**
 * Note: I have omitted any vendor-prefixes for clarity.
 * Adding them is left as an exercise for the reader.
 */

.headroom {
  will-change: transform;
  transition: transform 200ms linear; }

.headroom--pinned {
  transform: translateY(0%); }

.headroom--unpinned {
  transform: translateY(-100%); }

.no-scroll {
  overflow-y: hidden; }

.push_element {
  position: relative;
  height: 6.5em; }

@media (min-width: 1200px) {
    .push_element {
      height: 3.5em; } }

.login_modal__container {
  background-color: #e3e3e3; }

.login_modal__container form input {
    background: white; }

.login_modal__container form button[type='submit'] {
    background: #e3e3e3;
    border: #c2b930 1px solid;
    text-transform: uppercase;
    padding: .5em .75em;
    font-weight: 700; }

.login_modal__container form label.collapse {
    display: block !important; }

.login_modal__container__remember {
    display: flex;
    justify-content: space-between; }

.conceptos-header-image {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 75vh; }

.category-menu-open {
  position: fixed;
  top: 75%;
  z-index: 2;
  border: 1px solid #282827;
  background-color: #c2b930;
  width: 4em;
  height: 2em;
  outline: none;
  overflow: hidden; }

.category-menu-open:before, .category-menu-open:after {
    position: absolute;
    right: .5em;
    content: '';
    width: 1em;
    height: .25em;
    background-color: #282827; }

.category-menu-open:before {
    transform: translateY(-102%) rotate(45deg); }

.category-menu-open:after {
    transform: translateY(102%) rotate(-45deg); }

.animation_flash {
  position: absolute;
  width: 10em;
  height: 150%;
  top: -25%;
  transform: rotate(35deg);
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-animation: zoomIn 2.5s ease-in 10;
          animation: zoomIn 2.5s ease-in 10; }

.conceptos-category-icon {
  width: 1.5em;
  height: auto; }

@-webkit-keyframes zoomIn {
  0% {
    transform: translateX(-50) rotate(35deg); }
  50% {
    transform: translateX(100%) rotate(35deg); }
  100% {
    transform: translateX(0%) rotate(35deg); } }

@keyframes zoomIn {
  0% {
    transform: translateX(-50) rotate(35deg); }
  50% {
    transform: translateX(100%) rotate(35deg); }
  100% {
    transform: translateX(0%) rotate(35deg); } }

.required {
  position: relative; }

.required:before {
    position: absolute;
    content: '*';
    top: 0;
    left: 0;
    width: .25em;
    height: .25em;
    font-size: 1.25em;
    color: red; }

.conceptos-offer-price {
  position: relative;
  font-size: 12px; }

.conceptos-offer-price:before {
    content: '';
    position: absolute;
    width: 75%;
    top: 40%;
    left: 25%;
    transform: rotate(45deg);
    height: 2px;
    background: #282827; }

.custom_btn {
  padding: .07em .5em;
  border: 1px #c2b930 solid;
  text-transform: uppercase;
  color: #282827;
  background-color: rgba(255, 255, 255, 0.75); }

.popular_product > div:first-child {
  position: relative;
  overflow: hidden; }

.popular_product > div:first-child:before {
    position: absolute;
    background-color: #c2b930;
    content: 'OFERTA';
    top: 0;
    color: #282827;
    font-weight: 700;
    padding: .1em 2em;
    transform: translate(-35%, 50%) rotate(-45deg);
    transform-origin: 50% 50%;
    font-size: .8em; }

.popular_product.small-product > div:first-child:before {
  font-size: .6em; }

.popular_product.big-product > div:first-child:before {
  font-size: .9em; }

.shop-cart-product .popular_product > div:first-child:before {
  font-size: .6em; }

.carousel-indicators {
  bottom: -5px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0; }

.carousel-indicators li {
    background-color: #e5e5e5;
    border: 1px solid #282827;
    border-radius: 50%;
    height: .75em;
    width: .75em; }

.carousel-indicators li.active {
      background-color: #c2b930; }

.carousel-control {
  background-color: #282827;
  color: #c2b930;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  top: 50%; }

.carousel-control:focus {
    color: #c2b930; }

#carousel-product-details {
  position: relative;
  height: 50vh; }

#carousel-product-details .carousel-inner {
    height: 100%; }

#carousel-product-details .carousel-inner .carousel-item {
      height: 100%; }

#carousel-product-details .carousel-inner .carousel-item img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
        max-width: 80vh; }

@media (min-width: 992px) {
    #carousel-product-details {
      height: 70vh; } }

#conceptos-contact-form .conceptos-image {
  position: absolute;
  top: 65vh;
  height: 75vh;
  -o-object-fit: cover;
     object-fit: cover; }

#conceptos-contact-form:after {
  content: '';
  position: absolute;
  height: 48%;
  width: 100%;
  background: linear-gradient(to top, transparent, #e5e5e5);
  top: 65vh; }

@-webkit-keyframes showWhatsappCard {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes showWhatsappCard {
  0% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.whatsapp_float {
  position: fixed;
  background: #282827ba;
  border-radius: 2px;
  z-index: 2;
  display: flex;
  justify-content: center;
  bottom: 3em;
  width: 42%;
  flex-wrap: wrap;
  right: 1em;
  height: auto;
  padding: .5em 0;
  transition: all .3s;
  opacity: 0;
  -webkit-animation: showWhatsappCard 60s ease-in-out 7s;
          animation: showWhatsappCard 60s ease-in-out 7s; }

@media (min-width: 1200px) {
    .whatsapp_float {
      width: 12%; } }

.whatsapp_float__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    width: 2em;
    height: 2em;
    cursor: pointer;
    padding: .5em;
    z-index: 4; }

.whatsapp_float__close:before, .whatsapp_float__close:after {
      content: '';
      position: absolute;
      width: 55%;
      height: 2px;
      background: #e3e3e3; }

.whatsapp_float__close:before {
      transform: rotate(45deg); }

.whatsapp_float__close:after {
      transform: rotate(-45deg); }

.whatsapp_float__image {
    margin: .5em;
    width: 3.5em;
    height: 3.5em; }

@media (min-width: 1200px) {
      .whatsapp_float__image {
        margin: 1em;
        width: 4em;
        height: 4em; } }

.whatsapp_float__image img {
      width: 100%;
      height: auto; }

.whatsapp_float__text {
    width: 95%;
    margin: auto;
    color: white; }

.whatsapp_float__text__title {
      font-size: .9em;
      font-weight: 700; }

.whatsapp_float__text__subtitle {
      font-size: .75em; }

.whatsapp_float__text p {
      margin: .1em; }

.whatsapp_float__text.big {
      position: relative;
      opacity: 1; }

.whatsapp_float__text.small {
      position: absolute;
      opacity: 0; }

.whatsapp_float--small {
    width: 100%;
    height: 3.5em;
    bottom: .25em;
    flex-wrap: nowrap;
    align-items: center;
    right: 0; }

@media (min-width: 1200px) {
      .whatsapp_float--small {
        width: 18%;
        right: 1em; } }

.whatsapp_float--small .whatsapp_float__image {
      margin: .5em;
      width: 3em;
      height: 3em; }

.whatsapp_float--small .whatsapp_float__text.big {
      position: absolute;
      opacity: 0; }

.whatsapp_float--small .whatsapp_float__text.small {
      position: relative;
      opacity: 1;
      width: auto;
      text-align: center; }

.whatsapp_float--small .whatsapp_float__text.small p {
        font-size: 1.1em;
        font-weight: 700; }

.whatsapp_float--small .whatsapp_float__close {
      position: relative;
      right: 1em;
      width: 1.5em;
      height: 1.5em; }

.whatsapp_float--close {
    transform: translateY(150%); }

.whatsapp_float a > div {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    top: 0;
    left: 0; }

.carousel-indicators {
  z-index: 2; }
