.blog_list__title {
}
.blog_list__title h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.2em;
}
.content-post {
  background: #e3e3e3;
}
.content-post {
  padding: 0;
  margin: auto;
}
.post {
  background: white;
  margin: auto;
  padding-left: 0;
}
.post-details {
}
.post-details h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.15em;
}
.post-body {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.post-body .ProductMarker {
  width: 45%;
}
