.home__hero {
  height: 75vh;
  position: relative; }
  .home__hero:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3); }
  .home__hero img {
    width: 100%;
    height: 75vh;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%; }
  .home__hero__content {
    position: absolute;
    top: 2em;
    width: 100%; }
  .home__hero__content__title h1 {
      color: #282827;
      font-size: 1.75em;
      font-weight: 700; }
  .home__hero__content__title h2 {
      color: #282827;
      font-size: 1em;
      font-weight: 700; }
  .home__hero__content__btn {
      margin-top: 1.5em; }
  .home__hero__content__btn a {
        padding: 0.1em 0.5em;
        border: 2px #c2b930 solid;
        text-transform: uppercase;
        color: #282827;
        background-color: rgba(255, 255, 255, 0.75); }
  @media (min-width: 992px) {
    .home__hero__content {
      left: 4em; } }
