[data-sal]{transition-duration:.2s;transition-duration:var(--sal-duration,.2s);transition-delay:0s;transition-delay:var(--sal-delay,0s);transition-timing-function:ease;transition-timing-function:var(--sal-easing,ease)}[data-sal][data-sal-duration="200"]{transition-duration:.2s}[data-sal][data-sal-duration="250"]{transition-duration:.25s}[data-sal][data-sal-duration="300"]{transition-duration:.3s}[data-sal][data-sal-duration="350"]{transition-duration:.35s}[data-sal][data-sal-duration="400"]{transition-duration:.4s}[data-sal][data-sal-duration="450"]{transition-duration:.45s}[data-sal][data-sal-duration="500"]{transition-duration:.5s}[data-sal][data-sal-duration="550"]{transition-duration:.55s}[data-sal][data-sal-duration="600"]{transition-duration:.6s}[data-sal][data-sal-duration="650"]{transition-duration:.65s}[data-sal][data-sal-duration="700"]{transition-duration:.7s}[data-sal][data-sal-duration="750"]{transition-duration:.75s}[data-sal][data-sal-duration="800"]{transition-duration:.8s}[data-sal][data-sal-duration="850"]{transition-duration:.85s}[data-sal][data-sal-duration="900"]{transition-duration:.9s}[data-sal][data-sal-duration="950"]{transition-duration:.95s}[data-sal][data-sal-duration="1000"]{transition-duration:1s}[data-sal][data-sal-duration="1050"]{transition-duration:1.05s}[data-sal][data-sal-duration="1100"]{transition-duration:1.1s}[data-sal][data-sal-duration="1150"]{transition-duration:1.15s}[data-sal][data-sal-duration="1200"]{transition-duration:1.2s}[data-sal][data-sal-duration="1250"]{transition-duration:1.25s}[data-sal][data-sal-duration="1300"]{transition-duration:1.3s}[data-sal][data-sal-duration="1350"]{transition-duration:1.35s}[data-sal][data-sal-duration="1400"]{transition-duration:1.4s}[data-sal][data-sal-duration="1450"]{transition-duration:1.45s}[data-sal][data-sal-duration="1500"]{transition-duration:1.5s}[data-sal][data-sal-duration="1550"]{transition-duration:1.55s}[data-sal][data-sal-duration="1600"]{transition-duration:1.6s}[data-sal][data-sal-duration="1650"]{transition-duration:1.65s}[data-sal][data-sal-duration="1700"]{transition-duration:1.7s}[data-sal][data-sal-duration="1750"]{transition-duration:1.75s}[data-sal][data-sal-duration="1800"]{transition-duration:1.8s}[data-sal][data-sal-duration="1850"]{transition-duration:1.85s}[data-sal][data-sal-duration="1900"]{transition-duration:1.9s}[data-sal][data-sal-duration="1950"]{transition-duration:1.95s}[data-sal][data-sal-duration="2000"]{transition-duration:2s}[data-sal][data-sal-delay="50"]{transition-delay:.05s}[data-sal][data-sal-delay="100"]{transition-delay:.1s}[data-sal][data-sal-delay="150"]{transition-delay:.15s}[data-sal][data-sal-delay="200"]{transition-delay:.2s}[data-sal][data-sal-delay="250"]{transition-delay:.25s}[data-sal][data-sal-delay="300"]{transition-delay:.3s}[data-sal][data-sal-delay="350"]{transition-delay:.35s}[data-sal][data-sal-delay="400"]{transition-delay:.4s}[data-sal][data-sal-delay="450"]{transition-delay:.45s}[data-sal][data-sal-delay="500"]{transition-delay:.5s}[data-sal][data-sal-delay="550"]{transition-delay:.55s}[data-sal][data-sal-delay="600"]{transition-delay:.6s}[data-sal][data-sal-delay="650"]{transition-delay:.65s}[data-sal][data-sal-delay="700"]{transition-delay:.7s}[data-sal][data-sal-delay="750"]{transition-delay:.75s}[data-sal][data-sal-delay="800"]{transition-delay:.8s}[data-sal][data-sal-delay="850"]{transition-delay:.85s}[data-sal][data-sal-delay="900"]{transition-delay:.9s}[data-sal][data-sal-delay="950"]{transition-delay:.95s}[data-sal][data-sal-delay="1000"]{transition-delay:1s}[data-sal][data-sal-easing=linear]{transition-timing-function:linear}[data-sal][data-sal-easing=ease]{transition-timing-function:ease}[data-sal][data-sal-easing=ease-in]{transition-timing-function:ease-in}[data-sal][data-sal-easing=ease-out]{transition-timing-function:ease-out}[data-sal][data-sal-easing=ease-in-out]{transition-timing-function:ease-in-out}[data-sal][data-sal-easing=ease-in-cubic]{transition-timing-function:cubic-bezier(.55,.055,.675,.19)}[data-sal][data-sal-easing=ease-out-cubic]{transition-timing-function:cubic-bezier(.215,.61,.355,1)}[data-sal][data-sal-easing=ease-in-out-cubic]{transition-timing-function:cubic-bezier(.645,.045,.355,1)}[data-sal][data-sal-easing=ease-in-circ]{transition-timing-function:cubic-bezier(.6,.04,.98,.335)}[data-sal][data-sal-easing=ease-out-circ]{transition-timing-function:cubic-bezier(.075,.82,.165,1)}[data-sal][data-sal-easing=ease-in-out-circ]{transition-timing-function:cubic-bezier(.785,.135,.15,.86)}[data-sal][data-sal-easing=ease-in-expo]{transition-timing-function:cubic-bezier(.95,.05,.795,.035)}[data-sal][data-sal-easing=ease-out-expo]{transition-timing-function:cubic-bezier(.19,1,.22,1)}[data-sal][data-sal-easing=ease-in-out-expo]{transition-timing-function:cubic-bezier(1,0,0,1)}[data-sal][data-sal-easing=ease-in-quad]{transition-timing-function:cubic-bezier(.55,.085,.68,.53)}[data-sal][data-sal-easing=ease-out-quad]{transition-timing-function:cubic-bezier(.25,.46,.45,.94)}[data-sal][data-sal-easing=ease-in-out-quad]{transition-timing-function:cubic-bezier(.455,.03,.515,.955)}[data-sal][data-sal-easing=ease-in-quart]{transition-timing-function:cubic-bezier(.895,.03,.685,.22)}[data-sal][data-sal-easing=ease-out-quart]{transition-timing-function:cubic-bezier(.165,.84,.44,1)}[data-sal][data-sal-easing=ease-in-out-quart]{transition-timing-function:cubic-bezier(.77,0,.175,1)}[data-sal][data-sal-easing=ease-in-quint]{transition-timing-function:cubic-bezier(.755,.05,.855,.06)}[data-sal][data-sal-easing=ease-out-quint]{transition-timing-function:cubic-bezier(.23,1,.32,1)}[data-sal][data-sal-easing=ease-in-out-quint]{transition-timing-function:cubic-bezier(.86,0,.07,1)}[data-sal][data-sal-easing=ease-in-sine]{transition-timing-function:cubic-bezier(.47,0,.745,.715)}[data-sal][data-sal-easing=ease-out-sine]{transition-timing-function:cubic-bezier(.39,.575,.565,1)}[data-sal][data-sal-easing=ease-in-out-sine]{transition-timing-function:cubic-bezier(.445,.05,.55,.95)}[data-sal][data-sal-easing=ease-in-back]{transition-timing-function:cubic-bezier(.6,-.28,.735,.045)}[data-sal][data-sal-easing=ease-out-back]{transition-timing-function:cubic-bezier(.175,.885,.32,1.275)}[data-sal][data-sal-easing=ease-in-out-back]{transition-timing-function:cubic-bezier(.68,-.55,.265,1.55)}[data-sal|=fade]{opacity:0;transition-property:opacity}[data-sal|=fade].sal-animate,body.sal-disabled [data-sal|=fade]{opacity:1}[data-sal|=slide]{opacity:0;transition-property:opacity,transform}[data-sal=slide-up]{transform:translateY(20%)}[data-sal=slide-down]{transform:translateY(-20%)}[data-sal=slide-left]{transform:translateX(20%)}[data-sal=slide-right]{transform:translateX(-20%)}[data-sal|=slide].sal-animate,body.sal-disabled [data-sal|=slide]{opacity:1;transform:none}[data-sal|=zoom]{opacity:0;transition-property:opacity,transform}[data-sal=zoom-in]{transform:scale(.5)}[data-sal=zoom-out]{transform:scale(1.1)}[data-sal|=zoom].sal-animate,body.sal-disabled [data-sal|=zoom]{opacity:1;transform:none}[data-sal|=flip]{-webkit-backface-visibility:hidden;backface-visibility:hidden;transition-property:transform}[data-sal=flip-left]{transform:perspective(2000px) rotateY(-91deg)}[data-sal=flip-right]{transform:perspective(2000px) rotateY(91deg)}[data-sal=flip-up]{transform:perspective(2000px) rotateX(-91deg)}[data-sal=flip-down]{transform:perspective(2000px) rotateX(91deg)}[data-sal|=flip].sal-animate,body.sal-disabled [data-sal|=flip]{transform:none}.hero {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden; }.hero__slides {
    width: 100%; }.hero__slides__slide {
      position: relative;
      width: 100%; }.hero__slides__slide__image {
        position: relative;
        width: 100%;
        overflow: hidden; }.hero__slides__slide__content {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 2em 1em 2em 3em; }.hero__slides__slide__content__title {
          margin-bottom: 3em; }.hero__slides__slide__content__title h1 {
            color: white;
            height: 1.5em;
            font-weight: 700; }.hero__slides__slide__content__text p {
          color: white;
          font-size: 1.25em;
          line-height: 1.75; }.hero__subscribe_btn {
    position: absolute;
    bottom: 5em;
    left: 3em; }.hero__subscribe_btn button {
      border: 1px transparent solid;
      border-radius: 3px;
      background: #c2b930;
      color: #282827;
      padding: .75em .5em;
      font-size: 1.5em; }/*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */.flickity-enabled {
  position: relative; }.flickity-enabled:focus {
  outline: none; }.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }/* draggable */.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }/* ---- flickity-button ---- */.flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }.flickity-button:hover {
  background: white;
  cursor: pointer; }.flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F; }.flickity-button:active {
  opacity: 0.6; }.flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none; }.flickity-button-icon {
  fill: currentColor; }/* ---- previous/next buttons ---- */.flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%); }.flickity-prev-next-button.previous {
  left: 10px; }.flickity-prev-next-button.next {
  right: 10px; }/* right to left */.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }.flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }/* ---- page dots ---- */.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }.flickity-rtl .flickity-page-dots {
  direction: rtl; }.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }.flickity-page-dots .dot.is-selected {
  opacity: 1; }.carousel {
  width: 100%;
  height: 50vh; }.carousel__cell {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%; }.carousel__cell img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }.flickity-page-dots {
  bottom: 1em; }.flickity-page-dots .dot {
    background: #282827;
    border: 2px white solid;
    width: 15px;
    height: 15px; }.flickity-page-dots .dot.is-selected {
      background: #c2b930; }.flickity-prev-next-button {
  width: 22px;
  height: 22px; }.services {
  width: 90%;
  margin: 3em 5%; }.services__service {
    margin: 2em auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }.services__service__image {
      border-radius: 50%;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
      width: 15em;
      height: 15em;
      overflow: hidden; }.services__service__image img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }.services__service__title {
      display: flex;
      justify-content: center;
      width: 100%;
      margin: 0 auto; }.services__service__title h2 {
        font-size: 2em;
        color: #282827; }.services__service__text {
      display: flex;
      justify-content: center;
      width: 80%;
      margin: auto 10%; }.services__service__text p {
        font-size: 1.25em;
        line-height: 1.75; }.blog {
  width: 100%;
  margin: 3em auto; }.blog__slides {
    width: 100%;
    height: 60vh; }.blog__slides__slide {
      width: 100%;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: start; }.blog__slides__slide__image {
        position: relative;
        height: 30vh;
        width: 100%;
        overflow: hidden; }.blog__slides__slide__image img {
          height: 100%;
          width: 100%; }.blog__slides__slide__content {
        position: relative;
        width: 100%;
        height: auto;
        background: white; }.blog__slides__slide__content__title {
          width: 90%;
          margin: 1em 5%;
          display: flex; }.blog__slides__slide__content__title h4 {
            font-weight: 700;
            font-size: 1.5em; }.blog__slides__slide__content__text {
          width: 90%;
          margin: 0 5%;
          display: flex; }.blog__slides__slide__content__text p {
            font-size: 1.25em;
            line-height: 1.75; }.section__title {
  display: flex;
  justify-content: center; }
