.similar_products {
  position: relative;
  width: 100%; }
  .similar_products__show_button img {
    height: .8em; }
  .similar_products__container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    transform: translateY(0%);
    opacity: 1;
    transition: all .3s ease-in-out;
    background: rgba(0, 0, 0, 0.75); }
  .similar_products__container--hide {
      position: absolute;
      opacity: 0;
      transform: translateY(10%);
      z-index: -1; }
  .similar_products__container__modal {
      top: 10em;
      position: relative;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-content: flex-start;
      width: 80%;
      margin: 0 10%;
      padding-bottom: 1em;
      max-height: 70vh;
      overflow-y: auto;
      background: white;
      z-index: 1;
      border-radius: 2px; }
  .similar_products__container__modal__header {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1;
        height: 2.5em;
        width: 100%;
        padding: 0 .5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: white; }
  .similar_products__container__modal__header h5 {
          margin-bottom: 0; }
  .similar_products__container__modal__header__close {
          position: relative;
          border-radius: 50%;
          border: 2px transparent solid;
          width: 2em;
          height: 2em;
          background: transparent;
          z-index: 3;
          outline: 0; }
  .similar_products__container__modal__header__close:before, .similar_products__container__modal__header__close:after {
            top: 50%;
            left: 50%;
            position: absolute;
            background: #282827;
            content: '';
            width: 1.25em;
            height: 3px; }
  .similar_products__container__modal__header__close:before {
            transform: translate(-50%, -50%) rotate(45deg); }
  .similar_products__container__modal__header__close:after {
            transform: translate(-50%, -50%) rotate(-45deg); }
  .row_product {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background: white;
  margin: 1em 0;
  width: 100%; }
  .row_product:after {
    position: absolute;
    content: '';
    height: 2px;
    background: rgba(128, 128, 128, 0.15);
    width: 80%;
    margin: 0 10%;
    bottom: -1em; }
  .row_product:last-child:after {
    display: none; }
  .row_product__image {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center; }
  .row_product__image img {
      height: 100%; }
  .row_product__content {
    width: 55%;
    position: relative; }
  .row_product__content__info {
      display: flex;
      flex-wrap: wrap; }
  .row_product__content__info div {
        width: 100%; }
  .row_product__content__actions {
      position: absolute;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      bottom: 0; }
  .row_product__content__actions__price {
        width: 50%; }
  .row_product__content__actions__cart {
        width: 30%; }
  /*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
  .flickity-enabled {
  position: relative; }
  .flickity-enabled:focus {
  outline: none; }
  .flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }
  .flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }
  /* draggable */
  .flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }
  /* ---- flickity-button ---- */
  .flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }
  .flickity-button:hover {
  background: white;
  cursor: pointer; }
  .flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F; }
  .flickity-button:active {
  opacity: 0.6; }
  .flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none; }
  .flickity-button-icon {
  fill: currentColor; }
  /* ---- previous/next buttons ---- */
  .flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%); }
  .flickity-prev-next-button.previous {
  left: 10px; }
  .flickity-prev-next-button.next {
  right: 10px; }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }
  .flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }
  .flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }
  /* ---- page dots ---- */
  .flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }
  .flickity-rtl .flickity-page-dots {
  direction: rtl; }
  .flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }
  .flickity-page-dots .dot.is-selected {
  opacity: 1; }
  .product_images {
  width: 100%; }
  .product_images__small {
    width: 100%; }
  .carousel {
  width: 100%;
  min-height: 45vh; }
  .carousel--small {
    height: 11vh;
    min-height: 11vh;
    width: 95%;
    margin: 0 auto 2.5em; }
  .carousel--small .carousel__cell {
      width: 28%; }
  .carousel__cell {
    width: 100%;
    height: 100%; }
  .carousel__cell img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .flickity-prev-next-button {
  width: 22px;
  height: 22px; }
