.my_dropdown {
  position: relative;
  display: inline-block; }
  .my_dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    width: 55vw;
    max-height: 50vh;
    overflow-y: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 2;
    border-radius: 4px;
    -webkit-animation: swing-out-top-bck 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
            animation: swing-out-top-bck 0.25s cubic-bezier(0.6, -0.28, 0.735, 0.045) both; }
  @media (min-width: 1200px) {
      .my_dropdown__content {
        width: 20vw; } }
  .my_dropdown:hover .my_dropdown__content {
    display: block;
    -webkit-animation: swing-in-top-bck 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
            animation: swing-in-top-bck 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both; }
  .my_dropdown img {
    height: 1em;
    width: auto; }
  .products_breadcrumbs {
  display: flex; }
  @media (min-width: 1200px) {
    .products_breadcrumbs {
      width: 95%;
      margin: auto; } }
  .products_breadcrumbs > ul {
    margin: .5em;
    padding: 0;
    display: flex;
    flex-wrap: wrap; }
  .products_breadcrumbs > ul > li {
      position: relative;
      display: inline;
      list-style: none;
      margin-right: 1.2em;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer; }
  .products_breadcrumbs > ul > li a {
        font-size: 1em;
        color: #282827;
        font-weight: bold; }
  .products_breadcrumbs > ul > li:after {
        top: 50%;
        position: absolute;
        content: '\\';
        color: #c2b930;
        font-size: 1.5em;
        font-weight: 500;
        transform: translateY(-50%);
        margin-left: .25em; }
  .products_breadcrumbs > ul > li:first-child {
        width: 100%;
        font-size: 1.1em;
        margin: .5em 0; }
  @media (min-width: 1200px) {
          .products_breadcrumbs > ul > li:first-child {
            width: auto;
            font-size: 1em;
            margin: 0 1.2em 0 0; } }
  .products_breadcrumbs > ul > li:last-child:after {
        display: none; }
  .products_breadcrumbs > ul > li li {
        position: relative;
        margin: .25em 0; }
  .products_breadcrumbs > ul > li li :after {
          position: absolute;
          content: '';
          width: 80%;
          background-color: rgba(194, 185, 48, 0.15);
          height: 1px;
          bottom: 0;
          left: 0; }
  @media (min-width: 1200px) {
            .products_breadcrumbs > ul > li li :after {
              width: 100%; } }
  /**
 * ----------------------------------------
 * animation swing-in-top-bck
 * ----------------------------------------
 */
  @-webkit-keyframes swing-in-top-bck {
  0% {
    transform: rotateX(70deg);
    transform-origin: top;
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1; } }
  @keyframes swing-in-top-bck {
  0% {
    transform: rotateX(70deg);
    transform-origin: top;
    opacity: 0; }
  100% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1; } }
  @-webkit-keyframes swing-out-top-bck {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1; }
  100% {
    transform: rotateX(-90deg);
    transform-origin: top;
    opacity: 0; } }
  @keyframes swing-out-top-bck {
  0% {
    transform: rotateX(0deg);
    transform-origin: top;
    opacity: 1; }
  100% {
    transform: rotateX(-90deg);
    transform-origin: top;
    opacity: 0; } }
  /*! Flickity v2.2.1
https://flickity.metafizzy.co
---------------------------------------------- */
  .flickity-enabled {
  position: relative; }
  .flickity-enabled:focus {
  outline: none; }
  .flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%; }
  .flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%; }
  /* draggable */
  .flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab; }
  .flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing; }
  /* ---- flickity-button ---- */
  .flickity-button {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  border: none;
  color: #333; }
  .flickity-button:hover {
  background: white;
  cursor: pointer; }
  .flickity-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #19F; }
  .flickity-button:active {
  opacity: 0.6; }
  .flickity-button:disabled {
  opacity: 0.3;
  cursor: auto;
  /* prevent disabled button from capturing pointer up event. #716 */
  pointer-events: none; }
  .flickity-button-icon {
  fill: currentColor; }
  /* ---- previous/next buttons ---- */
  .flickity-prev-next-button {
  top: 50%;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /* vertically center */
  transform: translateY(-50%); }
  .flickity-prev-next-button.previous {
  left: 10px; }
  .flickity-prev-next-button.next {
  right: 10px; }
  /* right to left */
  .flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px; }
  .flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px; }
  .flickity-prev-next-button .flickity-button-icon {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%; }
  /* ---- page dots ---- */
  .flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1; }
  .flickity-rtl .flickity-page-dots {
  direction: rtl; }
  .flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer; }
  .flickity-page-dots .dot.is-selected {
  opacity: 1; }
  .popular_products__container {
  margin: 2em 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap; }
  .carousel {
  height: 11vh;
  min-height: 11vh;
  width: 95%;
  margin: 0 auto 2.5em; }
  .carousel .carousel__cell {
    height: 11vh;
    width: 28%;
    margin: 0 .25em; }
  .carousel .carousel__cell img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .flickity-prev-next-button {
  width: 22px;
  height: 22px; }
  .flickity-page-dots {
  bottom: -35px; }
  .conceptos-product-card .product-similar {
  font-size: 11px;
  font-weight: bold;
  color: #2c702b;
  text-transform: uppercase;
  font-style: italic; }
