.switch {
  position: relative;
  height: 26px;
  width: 150px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px; }

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 75px;
  line-height: 26px;
  font-size: 11px;
  color: #282827;
  text-align: center;
  cursor: pointer;
  -webkit-transition: color .3s ease-in;
  transition: color .3s ease-in; }

.switch-label:active {
  font-weight: bold; }

.switch-label-off {
  padding-left: 2px; }

.switch-label-on {
  padding-right: 2px; }

.switch-input {
  display: none; }

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: white;
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  -webkit-transition-property: color;
  transition-property: color; }

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 70px;
  /* Note: left: 50%; doesn't transition in WebKit */ }

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 75px;
  height: 22px;
  border-radius: 3px;
  background-color: #c2b930;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(194, 185, 48, 0.85)), to(rgba(194, 185, 48, 0.95)));
  background-image: linear-gradient(top, rgba(194, 185, 48, 0.85), rgba(194, 185, 48, 0.95));
  -webkit-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out; }
