.switch {
  position: relative;
  height: 26px;
  width: 150px;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px; }

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 75px;
  line-height: 26px;
  font-size: 11px;
  color: #282827;
  text-align: center;
  cursor: pointer;
  transition: color .3s ease-in; }

.switch-label:active {
  font-weight: bold; }

.switch-label-off {
  padding-left: 2px; }

.switch-label-on {
  padding-right: 2px; }

.switch-input {
  display: none; }

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: white;
  transition: 0.15s ease-out;
  transition-property: color; }

.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 70px;
  /* Note: left: 50%; doesn't transition in WebKit */ }

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 75px;
  height: 22px;
  border-radius: 3px;
  background-color: #c2b930;
  background-image: linear-gradient(top, rgba(194, 185, 48, 0.85), rgba(194, 185, 48, 0.95));
  transition: left 0.15s ease-out; }

@-webkit-keyframes show {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes show {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@-webkit-keyframes hide {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes hide {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

.membership_card {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 60%;
  right: 0;
  width: 50%;
  height: 20vh;
  -webkit-animation: show 2s ease-in-out 1;
          animation: show 2s ease-in-out 1;
  background: #282827;
  transition: transform 1s ease-in;
  z-index: 15; }

@media (min-width: 992px) {
    .membership_card {
      width: 20%; } }

.membership_card__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 16;
    width: 2.5em;
    height: 2.5em;
    background: #282827;
    cursor: pointer; }

.membership_card__close:before, .membership_card__close:after {
      content: '';
      position: absolute;
      width: 55%;
      height: 2px;
      background: #e3e3e3; }

.membership_card__close:before {
      transform: rotate(45deg); }

.membership_card__close:after {
      transform: rotate(-45deg); }

.membership_card a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; }

.membership_card__content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 90%;
    width: 95%;
    padding: 1em 0 0 0.5em;
    border: 2px #c2b930 solid; }

.membership_card__content h2, .membership_card__content h3, .membership_card__content h4 {
      text-transform: uppercase;
      font-weight: 700;
      margin: .25em 0; }

.membership_card__content h2 {
      color: white;
      font-size: 1.75em;
      margin: 0; }

.membership_card__content h3 {
      color: #c2b930;
      font-size: 1.25em; }

.membership_card__content h4 {
      color: white;
      font-size: .7em; }

.membership_card--hide {
    transform: translateX(100%); }

.membership_card--no-display {
    display: none; }
